{{page-title "My Wallets"}}

<div class="card card-user">
    <div class="card-body card-min-390">
        <p class="card-text"></p>
        <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <img class="" src="{{rootURL}}assets/img/logo/thetaTfuel.png" alt="..."/>
            <br/>
            <br/>
        </div>
        <div class="card-body-stake">
            <div class="stakes-no-activity">
                {{#if model.wallets.length}}
                    <p class="title">{{t 'my_wallets.wallet_list'}}</p>
                    <div class="table-responsive transac-history-table">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="text-center">{{t 'global.wallet_address'}}</th>
                                <th class="text-center">{{t 'global.name'}}</th>
                                <th class="text-center">{{t 'global.default'}}</th>
                                <th class="text-center">{{t 'global.action'}}</th>
                            </tr>
                            </thead>
                            <tbody>
                                {{#each currentUser.wallets as |wallet|}}            
                                    <tr>
                                        <td class="text-center">
                                            <span class="long-address">{{wallet.address}}</span>
                                            <span class="short-address" {{shortener wallet.address}}>{{wallet.address}}</span>
                                        </td>
                                        <td class="text-center">{{wallet.name}}</td>
                                        <td class="text-center">
                                            <input type="radio" name="isDefault" checked="{{if wallet.isDefault 'checked'}}" {{on 'click' (fn this.changeIsDefault wallet)}}/>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-primary" {{on 'click' (fn this.deleteWallet wallet)}}>{{t 'global.remove'}}</button>
                                        </td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                {{else}}
                    <p class="title">{{t 'my_wallets.no_wallet'}}</p>
                {{/if}}
            </div>
            <br/>
            {{my-wallets/add-wallets}}
            <br/>
            <br/>
            <br/>
            <div class="stakes-no-activity">
                {{#if model.groups.length}}
                    <p class="title">{{t 'my_wallets.group_list'}}</p>
                    <div class="table-responsive transac-history-table">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="text-center">{{t 'my_wallets.addresses'}}</th>
                                <th class="text-center">{{t 'global.name'}}</th>
                                <th class="text-center">{{t 'global.default'}}</th>
                                <th class="text-center">{{t 'global.action'}}</th>
                            </tr>
                            </thead>
                            <tbody>
                                {{#each currentUser.groups as |group|}}            
                                    <tr>
                                        <td class="text-center">
                                            {{#each group.wallets as |wallet|}}            
                                                <span class="long-address">{{wallet.name}}<br/>({{wallet.address}})</span>
                                                <span class="short-address">{{wallet.name}}<br/><span {{shortener wallet.address}}>{{wallet.address}}</span></span><br/>
                                            {{/each}}
                                        </td>
                                        <td class="text-center">{{group.name}}</td>
                                        <td class="text-center">
                                            <input type="radio" name="isDefault" checked="{{if group.isDefault 'checked'}}" {{on 'click' (fn this.changeIsDefault group)}}/>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-primary" {{on 'click' (fn this.deleteGroup group)}}>{{t 'global.remove'}}</button>
                                        </td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                {{else}}
                    <p class="title">{{t 'my_wallets.no_group'}}</p>
                {{/if}}
            </div>
            <br/>
            {{my-wallets/add-groups}}
        </div>
    </div>
    <div class="card-footer">
    </div>
</div>