<div class="col-sm-12 col-md-4 drop-tile-container">
    <LinkTo @route="marketplace.drop">
        <div class="drop-tile" style="background-image: url({{drop.image}})">
            <div>
                {{#if drop.isDropLive}}
                    <div class="drop-status live"><span class="dot"></span>{{t 'drop.is_live'}}</div>
                {{else if drop.isDropEnded}}
                    <div class="drop-status over">{{t 'drop.over'}}</div>
                {{else}}
                    <div class="drop-status coming">{{t 'drop.coming_soon'}}</div>
                {{/if}}
                <div class="drop-bottom-container">
                    <p class="drop-artist">{{drop.artist.name}}</p>
                    <p class="small-description">{{drop.smallDescription}}</p>
                </div>           
            </div>
        </div>
    </LinkTo>
</div>