<div class="justify-content-lg-center justify-content-md-center">
    {{#if drop.isDropLive}}
        {{#if drop.isEndingInLessThan24Hours}}
            <div class="drop-status live"><span class="dot"></span>{{t 'drop.ending_in'}} {{this.countDown}}</div>
        {{else}}
            <div class="drop-status live"><span class="dot"></span>{{t 'drop.is_live'}}</div>
            <p class="date-label">{{t 'drop.ending_on'}} {{moment-format drop.endDate 'll'}}</p>
        {{/if}}
    {{else if drop.isDropEnded}}
        <div class="drop-status over">{{t 'drop.over'}}</div>
        <p class="date-label">{{t 'drop.ended_on'}} {{moment-format drop.endDate 'll'}}</p>
    {{else if drop.isStartingInLessThan24Hours}}
        <div class="drop-status in-few-hours">{{t 'drop.starting_in'}} {{this.countDown}}</div>
    {{else}}
        <div class="drop-status coming">{{t 'drop.coming_soon'}}</div>
        <p class="date-label">{{t 'drop.starting_on'}} {{moment-format drop.startDate 'll, LT'}}</p>
    {{/if}}
</div>