<div class="nft-tile">
    <div class="nft-tile-body nft-tile-body-left">
    <img class="nft-main-img" src="{{nft.image}}" alt="{{nft.name}}"/>
    </div>
    <div class="nft-tile-body nft-tile-body-right">
        <h3>{{nft.name}}</h3>
        {{#if nft.isLimitedEdition}}
            <p class="edition-type">{{t 'drop.edition_available'}}: {{nft.editionNumber}}</p>
        {{else if nft.isOpenEdition}}
            <p class="edition-type">{{t 'drop.open_edition'}}</p>
        {{/if}}
        <h4 class="nft-small-desc">{{nft.smallDescription}}</h4>
        <div class="nft-price">
            {{#if drop.isDropLive}}
                <button class="nft-button btn btn-primary">BUY</button>
            {{else}}
                <button class="nft-button btn btn-primary" disabled>Closed</button>
            {{/if}}
            {{currency.currentCurrency.symbol}}<span class="nostyle" {{numberformat nft.price 2}}></span>
        </div>
    </div>
</div>