<div class="card card-user">
    <div class="card-header ">
        <div class="row">
            <div class="col-sm-12 text-left">
                <p class="card-text"></p>
                <div class="author">
                <div class="block block-one"></div>
                <div class="block block-two"></div>
                <div class="block block-three"></div>
                <div class="block block-four"></div>
                <h2 class="card-title domain-title">{{t 'domain.offer_made.offer_submitted'}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body card-offers">
        {{#if this.offer.isConnectedWallet}}
            {{#each this.offer.offersMade as |offerMade|}}
                <div class="offer-made-cards made-offer-div">
                    <div>{{t 'domain.offer_made.you_made_offer'}}</div>
                    <h3>{{offerMade.domainName}}</h3>
                    <div class="alert-success alert emphesized">
                        <span>{{t 'domain.offer_amount'}}</span>
                        <p>{{offerMade.offer.offerAmount}} {{t 'global.tfuel'}}</p>
                    </div>
                    <br/><br/>
                    <div class="buttons-container">
                        <button {{on 'click' (fn this.offer.cancelOffer offerMade)}} type="submit" class="btn btn-fill btn-primary">{{t 'domain.offer_made.cancel_offer'}}</button>
                    </div>
                </div>
            {{else}}
                <p class="offer-placeholder">{{t 'domain.offer_made.no_offer'}}</p>
            {{/each}}
                <button type="submit" {{on 'click' this.connectWallet}} class="btn btn-fill btn-primary connect-wallet-offer-button refresh-offer">{{t 'global.refresh'}}</button>
        {{else}}
            <p class="offer-placeholder connection-offer">{{t 'global.please'}} <LinkTo @route="my-wallets" @class="connect-wallet-offer-button">{{t 'global.link_wallet'}}</LinkTo> {{t 'domain.offer_made.to_access'}}</p>
        {{/if}}
    </div> 
</div>