<div class="card card-user">
  <div class="card-body card-min-390">
    <p class="card-text"></p>
    <div class="author">
      <div class="block block-one"></div>
      <div class="block block-two"></div>
      <div class="block block-three"></div>
      <div class="block block-four"></div>
      <img class="avatar" src="{{rootURL}}assets/img/logo/tfuel.png" alt="...">
    </div>
      <div class="card-body-stake">
        <h5 class="title">Tfuel</h5>
          <div class="trend-activity">
            <p class="title current-price">$<span class="nostyle" {{numberformat this.thetaSdk.prices.tfuel.price 3}}></span></p>
            <p> {{t 'global.ratio_theta_tfuel'}}: {{ratio}}x </p>
        </div>
        <div class="trends-percent-conatiner">
          <div class="trend-activity trends-percent border-separation">
              <p class="description">{{t 'global.last.24h'}}</p>
              <p class="title {{trendYesterday.class}}">{{trendYesterday.type}} {{trendYesterday.percentChange}}%</p>
              <span class="trend-usd-change {{trendYesterday.class}}">({{trendYesterday.type}} ${{trendYesterday.change}})</span>
          </div>
          <div class="trend-activity trends-percent">
              <p class="description">{{t 'global.last.7d'}}</p>
              <p class="title {{trendLastWeek.class}} ">{{trendLastWeek.type}} {{trendLastWeek.percentChange}}%</p>
              <span class="trend-usd-change {{trendLastWeek.class}}">({{trendLastWeek.type}} ${{trendLastWeek.change}})</span>
          </div>
        </div>
        <hr/>
        <div class="trend-activity extra">
          <p class="description">{{t 'global.market_cap'}}: </p>
          <p class="title">$<span class="nostyle" {{numberformat this.thetaSdk.prices.tfuel.market_cap 0}}></span></p>
          <hr/>
          <p class="description">{{t 'global.24_volume'}}</p>
          <p class="title">$<span class="nostyle" {{numberformat this.thetaSdk.prices.tfuel.volume_24h 0}}></span></p>
          <hr/>
          <p class="description">{{t 'global.tfuel_staked'}}</p>
          <p class="title"><span class="nostyle" {{numberformat this.thetaSdk.totalTfuelStake.percent 1}}></span>% (<span class="nostyle" {{numberformat this.thetaSdk.totalTfuelStake.totalAmount 0}}></span>)</p>
          <hr/>
        </div>
      </div>
  </div>
</div>