<footer class="footer">
  <div class="container-fluid">
    <div class="copyright float-left" style="margin-left: 10px">
      <a href="/policy/terms">
        {{t 'footer.terms'}}
      </a>
      |
      <a href="/policy/privacy">
        {{t 'footer.privacy'}}
      </a>
    </div>
    <div class="copyright float-right">
      <a href="https://discord.gg/SGUtY7zBU3" target="_blank"> {{t 'footer.join_discord'}}</a> |
      <a href="https://twitter.com/Thetaboard1" target="_blank"> {{t 'footer.follow_twitter'}}</a> |
      <a href="https://github.com/thetaboard-org" target="_blank">
        {{t 'footer.github'}}
      </a>
    </div>
</div>
</footer>