{{page-title "Domain"}}

<div class="card card-user" id="card-domain">
  <div class="card-body card-min-390">
    <p class="card-text"></p>
    <div class="author">
      <div class="block block-one"></div>
      <div class="block block-two"></div>
      <div class="block block-three"></div>
      <div class="block block-four"></div>
    </div>
    <div class="card-body-stake card-body-domain">
      <h5 class="col-md-12 title">{{t 'domain.title'}}</h5>
      <div class="">
        {{domains/search tns=tns setTns=setTns}}
      </div>
    </div>
  </div>
</div>

<div class="card card-user" id="card-domain-prices">
  <div class="card-body card-min-390">
    <div class="card-body-stake card-body-domain">
      <div class="row">
        {{domains/prices}}
      </div>
    </div>
  </div>
</div>

<div class="card card-user" id="card-domain-explanation">
  <div class="card-body card-min-390">
    <p class="card-text"></p>
    <div class="author">
      <div class="block block-one"></div>
      <div class="block block-two"></div>
      <div class="block block-three"></div>
      <div class="block block-four"></div>
    </div>
    <div class="card-body-stake card-body-domain">
      <div class="row">
        {{domains/explanation}}
      </div>
    </div>
  </div>
</div>


<div class="card card-user" id="card-domain-explanation">
  <div class="card-body card-min-390">
    <div class="card-body-stake card-body-domain">
      <div class="row">
        {{domains/help}}
      </div>
    </div>
  </div>
</div>
