{{page-title "Wallet"}}

<div class="content">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      {{wallets/wallet-list}}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-12">
      {{charts/holding-pie}}
    </div>
    <div class="col-lg-3 col-md-12">
      {{coinbases/coinbase-history}}
    </div>
     <div class="col-lg-3 col-md-12">
      {{coinbases/een-coinbase-history}}
    </div>
    <div class="col-lg-3 col-md-12">
      {{coinbases/total-coinbase-history}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{transactions/transaction-history}}
     </div>
  </div>
</div>
