{{page-title "Thetaboard"}}

<div class="wrapper ">
  {{#if isShowMenu}}
    {{outlet}}
  {{else}}
    {{verify/email}}
    {{menu/menu}}
    <div class="main-panel">
      {{navbar/navbar}}
      {{download-wallet/modal}}
      {{search-bar/search-bar onRouteChange=this.setQueryParam}}
      {{#if this.session.isAuthenticated}}
        {{wallet/wallet-navbar onRouteChange=this.setQueryParam}}
      {{else}}
        {{connect-wallet/connect-wallet onRouteChange=this.setQueryParam}}
      {{/if}}
      <div class="content">
        <div class="container-fluid">
          {{outlet}}
        </div>
      </div>
      {{footer/footer}}
    </div>
  {{/if}}
</div>