{{page-title "Thetaboard"}}

<div class="wrapper ">
  {{#if isLogin}}
    {{outlet}}
  {{else if isSignup}}
      {{outlet}}
  {{else if isRegistered}}
      {{outlet}}
  {{else if isVerify}}
      {{outlet}}
  {{else}}
    {{menu/menu}}
    <div class="main-panel">
      {{navbar/navbar}}
      {{search-bar/search-bar onRouteChange=this.setQueryParam}}
      {{download-wallet/modal}}
      {{connect-wallet/connect-wallet onRouteChange=this.setQueryParam}}

      <div class="content">
        <div class="container-fluid">
          {{outlet}}
        </div>
      </div>
      {{footer/footer}}
    </div>
  {{/if}}
</div>
