{{page-title "Staking Tfuel VIP"}}

<div class="card card-user">
  <div class="card-body card-min-390">
    <p class="card-text"></p>
    <div class="author">
      <div class="block block-one"></div>
      <div class="block block-two"></div>
      <div class="block block-three"></div>
      <div class="block block-four"></div>
      <img class="avatar" src="{{rootURL}}/assets/img/logo/tfuel.png" alt="..."/>
    </div>
    <div class="card-body-stake">
      <h5 class="title">{{t 'staking.vip.title'}}
        {{#if this.thetaSdk.tfuelAPR}}<br>{{t 'staking.earn_up_to'}} <span class="nostyle" {{numberformat this.thetaSdk.tfuelAPR 1}}></span>% {{t 'global.apr'}}*{{/if}}
      </h5>
      <p>{{t 'staking.tfuel_additional_info'}}<br/>{{t 'staking.tfuel_additional_info2'}}</p>
      <p>{{t 'staking.tfuel_fees'}}</p>
      <div class="row justify-content-lg-center justify-content-md-center">
        <form {{on 'submit' this.submitStake}} class="stakes-deposit col-md-9">
          <div class="form-group">

            <p>{{t 'staking.vip.subtitle'}} <br>
              {{t 'staking.vip.once_summary'}} <a href="/faq"> {{t 'staking.tfuel.using_summary'}} </a>{{t 'staking.vip.start_staking'}}</p>
            {{#each this.errorMessages as |error|}}
              <div class="row">
                <div class="col-sm-12 col-lg-8" style=" margin: auto;">
                  <div class="alert alert-warning" style="padding: 10px;">
                    <span>{{error.message}}</span>
                  </div>
                </div>
              </div>
            {{/each}}
            <div class="row">
              <div class="col-sm-12 col-lg-8" style="margin: auto;">
                <br/>
                <div class="dropdown">
                  <div class="">
                    <Input required minlength="42" @type="text" @min="0" @placeholder={{t 'global.enter_wallet'}}
                           style="text-align: center;" class="form-control border-color" @value={{walletAddress}}/>
                  </div>
                  {{#if showWallet}}
                    <div class="dropdown-content my-wallet">
                      {{#each wallet.wallets as |wallet|}}
                        <p {{on 'click' (fn this.selectWallet wallet)}}>{{wallet.name}} (<span {{shortener
                                wallet.address}}>{{wallet.address}}</span>)</p>
                        <hr style="margin: 0 0 5px 0;"/>
                      {{/each}}
                      <a {{on 'click' this.clear}}><p><a href="">{{t 'global.clear'}}</a></p></a>
                    </div>
                  {{/if}}
                </div>
                <br/>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-fill btn-primary btn-left">{{t 'global.submit'}}</button>
        </form>
      </div>
      <br/><br/><br/>
      <div class="stakes-no-activity">
        {{#if this.stakeList.length}}
          <br/>
          <p class="title">{{t 'staking.vip.node_list'}}</p>
          <br/>
          <br/>
          <div class="table-responsive transac-history-table">
            <table class="table" style="table-layout: fixed;">
              <thead>
              <tr>
                <th class="text-center">{{t 'global.date'}}</th>
                <th class="text-center">{{t 'staking.vip.stake_amount'}}</th>
                <th class="text-center">{{t 'global.wallet_address'}}</th>
                <th class="text-center">{{t 'global.summary'}}</th>
              </tr>
              </thead>
              <tbody>
              {{#each this.stakeList as |stake|}}
                <tr>
                  <td class="text-center">{{moment-format stake.createdAt 'll'}}</td>
                  <td class="text-center"><span class="nostyle" {{numberformat stake.stakeAmount 0}}></span> <img
                    style="width: 15px;" src="{{rootURL}}/assets/img/logo/tfuel.png" alt="..."/></td>
                  <td class="text-center">
                    <LinkTo {{shortener stake.walletAddress}} @route="wallet.explorer" @query={{hash
                      wa=stake.walletAddress}}>{{stake.walletAddress}}</LinkTo>
                  </td>
                  {{#if stake.summary}}
                    <td>
                      <button class="btn btn-primary" {{on 'click' (fn this.setupModalSummary stake.summary)}}
                              data-toggle="modal" data-target="#SummaryModal">{{t 'staking.vip.see_summary'}}
                      </button>
                    </td>
                  {{else}}
                    <td>
                      {{t 'staking.vip.summary_will_appear'}}.
                    </td>
                  {{/if}}
                </tr>
              {{/each}}
              </tbody>
            </table>
          </div>
        {{else}}
          <p class="title">{{t 'staking.vip.no_vip'}}</p>
        {{/if}}
      </div>
    </div>
  </div>
    {{#if this.thetaSdk.eliteEdgeNodeWallets.length}}
      <div style="text-align: center;" class="stakes-activity">
        <p class="title">{{t 'global.your_stakes'}}</p>
        {{#each this.thetaSdk.eliteEdgeNodeWallets as |eliteEdgeNode|}}
          <p class="title"><img src="{{rootURL}}/assets/img/logo/tfuel.png" style="width: 15px; margin-left: 3px; margin-top: -2px;"/>
            <span class="nostyle" {{numberformat eliteEdgeNode.amount 2}}></span> <span class="capitalize">{{eliteEdgeNode.currency}}</span> {{t 'global.staked'}}</p>
          <p class="description">{{t 'global.staked_on'}}:<br/>{{eliteEdgeNode.node_address}}</p>
        {{/each}}
      </div>
    {{else}}
      <br/><br/><br/>
      <div style="text-align: center;" class="stakes-no-activity">
        <p class="title">{{t 'staking.vip.no_tfuel_staked'}}</p><br/>
        <p class="description"> {{t 'staking.vip.earn'}}</p>
      </div>
    {{/if}}
  <div class="card-footer">
    <sub>*{{t 'global.apr_not_guarentee'}}.</sub>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="SummaryModal" tabindex="-1" role="dialog" aria-labelledby="SummaryModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="SummaryModalLabel">{{t 'global.en_summary'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="tim-icons icon-simple-remove"></i>
        </button>
      </div>
      <div class="modal-body">
        <img {{on "click" (action this.copySummaryToClipBoard 'Summary' 'input-to-copy-from-tfuelvip')}} src="https://chart.googleapis.com/chart?chs=500x500&cht=qr&chl={{modalSummary}}&choe=UTF-8"/>
        <input id="input-to-copy-from-tfuelvip" class="input-to-hide" value="{{modalSummary}}"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{t 'global.close'}}</button>
        <button type="button" class="btn btn-primary" {{on "click" (action this.copySummaryToClipBoard 'Summary' 'input-to-copy-from-tfuelvip')}}>{{t 'global.copy_summary'}}</button>
      </div>
    </div>
  </div>
</div>
