<div class="card">
    <div class="card-header">
        {{wallet/wallet-navbar onRouteChange=this.args.setQueryParam}}
        <h4 class="card-title"> {{t 'wallet_list.title'}}</h4> <LinkTo @route="my-wallets" @class="btn btn-primary">{{t 'wallet_list.add_wallet_group'}}</LinkTo>
    </div>
    <div class="card-body">
        <div class="table-responsive wallet-list-table">
        <table class="table">
            <thead>
            <tr>
            <th class="text-center">#</th>
            <th class="text-center d-none d-sm-none d-md-table-cell">{{t 'global.type'}}</th>
            <th class="text-center">{{t 'global.wallet_address'}}</th>
            <th class="text-center d-none d-sm-none d-md-none d-lg-table-cell">{{t 'wallet_list.market_price'}}</th>
            <th class="text-center">{{t 'wallet_list.amount'}}</th>
            <th class="text-right">{{currency.currentCurrency.symbol}}</th>
            </tr>
            </thead>
            <tbody>
            {{#each thetaSdk.walletList as |balance|}}
              <tr>
                <td class="text-center">
                  <img src="{{rootURL}}/assets/img/logo/{{balance.currency}}.png"
                       class="img-fluid rounded-circle" style="width: 20px;min-width: 20px;">
                </td>
                <td class="text-center d-none d-sm-none d-md-table-cell">{{balance.type}}</td>
                <td class="text-center ">
                  {{#if balance.wallet_tns}}
                    <LinkTo  @route="wallet.explorer" @query={{hash
                      wa=balance.wallet_address}}>{{balance.wallet_tns}} (<span {{shortener balance.wallet_address}}></span>)</LinkTo>
                  {{else}}
                    <LinkTo {{shortener balance.wallet_address}} @route="wallet.explorer" @query={{hash
                      wa=balance.wallet_address}}>{{balance.wallet_address}}</LinkTo>
                  {{/if}}
                  {{#if balance.node_address}}
                    {{#if balance.node_address_tns}}
                      <br/>{{t 'wallet_list.node_address'}}:<br/>
                      <LinkTo @route="wallet.explorer" @query={{hash
                        wa=balance.node_address}}>{{balance.node_address_tns}} (<span {{shortener balance.node_address}}></span>)</LinkTo>
                    {{else}}
                      <br/>{{t 'wallet_list.node_address'}}:<br/>
                      <LinkTo {{shortener balance.node_address}} @route="wallet.explorer" @query={{hash
                        wa=balance.node_address}}>{{balance.node_address}}</LinkTo>
                    {{/if}}
                  {{/if}}
                </td>
                <td class="text-center d-none d-sm-none d-md-none d-lg-table-cell">{{currency.currentCurrency.symbol}}
                  <span class="nostyle" {{numberformat balance.market_price 2}}></span></td>
                <td class="text-center"><span class="nostyle" {{numberformat balance.amount 3}}></span></td>
                <td class="text-right">{{currency.currentCurrency.symbol}}<span class="nostyle" {{numberformat
                  balance.value 2}}></span></td>
            </tr>
            {{else}}
            <p>{{t 'wallet_list.no_wallet'}} <LinkTo @route="my-wallets">{{t 'global.link_wallet'}}</LinkTo> {{t 'global.or'}} <a href="" data-toggle="modal" data-target="#searchModal">{{t 'global.enter_address'}}</a>.</p>
            {{/each}}
            </tbody>
        </table>
        <div style="text-align: right;">
            <div>
                <p class="wallet-total-amount">{{t 'global.total'}}: <span class="nostyle" {{numberformat thetaSdk.walletTotal 2}}></span></p>
            </div>
        </div>
        </div>
    </div>
</div>