{{page-title "Wallet"}}
{{getCoinbases}}
<div class="content">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      {{wallets/wallet-list setQueryParam=setQueryParam}}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      {{charts/holding-pie}}
    </div>
    <div class="col-lg-6 col-md-12">
      {{coinbases/total-coinbase-history loading=this.loading}}
    </div>
     <div class="col-lg-6 col-md-12">
      {{coinbases/coinbase-history loading=this.loading}}
    </div>
    <div class="col-lg-6 col-md-12">
      {{coinbases/een-coinbase-history loading=this.loading}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{transactions/transaction-history loading=this.loading}}
     </div>
  </div>
</div>
