{{page-title "Nft"}}

<div class="card card-body" style="flex-direction: row;">

  <div>
    Get your Thetaboard early adopter NFT by sending 20 Tfuels to :
    <a href="#" id="walletAddr" {{action this.copySummaryToClipBoard 'NFT Address' 'walletAddr'}}>
      0xBDfc0c687861a65F54211C55E4c53A140FE0Bf32</a><br>
    Available only until 31 oct 2021
  </div>
  <div style="margin-left: auto">
    <img src="{{rootURL}}/assets/nft/early_adopter.png" alt="Thetaboard NFT Early Adopter"
         style="width: 80px; margin-right:20px">
  </div>
</div>

<div class="content">
  <div class="row">
    {{#each this.model as |NFT|}}
      <div class="col-lg-3 col-md-12">
        <div class="card card-chart card-user card-holdings" style="min-height: 412px;">
          <div class="card-header ">
            <div class="row">
              <div class="col-sm-12 text-left">
                <p class="card-text"></p>
                <div class="author">
                  <div class="block block-one"></div>
                  <div class="block block-two"></div>
                  <div class="block block-three"></div>
                  <div class="block block-four"></div>
                  <h2 class="card-title">{{NFT.name}}</h2>
                </div>
              </div>
            </div>
          </div>
          <div id="holding-container" class="card-body nft-card-body">
            <img src="{{NFT.url}}" alt="{{NFT.name}}" style="width:90%">
          </div>
        </div>
      </div>
    {{else}}
      <div class="card">
        <div class="card-body">
          {{#if isWallet}}
            <p>{{t 'NFT.no_nft'}}
            </p>
          {{else}}
            <p>{{t 'wallet_list.no_wallet'}}
              <LinkTo @route="my-wallets">{{t 'global.link_wallet'}}</LinkTo> {{t 'global.or'}} <a href=""
                                                                                                   data-toggle="modal"
                                                                                                   data-target="#searchModal">{{t
                'global.enter_address'}}</a>.
            </p>
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>
</div>
