{{page-title "NFT"}}

<div class="card card-body" style="flex-direction: row;">
  <div>
    <p>
      <button type="button" {{on "click" this.buyMetamask}} class="btn btn-fill btn-primary btn-left">
        {{t 'NFT.use_metamask'}}
      </button>
      <br>
      {{t 'NFT.early_nft_1'}}
      <a href="#" id="walletAddr" {{action this.copySummaryToClipBoard 'NFT Address' 'walletAddr'}}>
        0xBDfc0c687861a65F54211C55E4c53A140FE0Bf32</a><br>
      {{t 'NFT.early_nft_2' htmlSafe=true}}
      <br>

    </p>
  </div>
  <div style="margin-left: auto;margin-right:20px">
    <video width="200" controls loop autoplay>
      <source src="{{rootURL}}/assets/nft/winter_badge.mp4" type="video/mp4">
    </video>
  </div>
</div>

<div class="content" id="nft-list">
  <div class="btn-group btn-group-toggle float-right">
    <label class="btn btn-sm btn-primary btn-simple {{unless onlyTNS "active"}}" {{action "toggleTNS"}}>
      <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">All NFTs</span>
      <span class="d-block d-sm-none">
          <i class="tim-icons icon-image-02"></i>
      </span>
    </label>
    <label class="btn btn-sm btn-primary btn-simple {{if onlyTNS "active"}}" {{action "toggleTNS"}}>
      <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">TNS</span>
      <span class="d-block d-sm-none">
        <i class="tim-icons  icon-book-bookmark"></i>
      </span>
    </label>
  </div>
  {{wallet/wallet-navbar onRouteChange=this.setQueryParam}}
  <div class="tile-container-market">
    {{#each this.model.NFTs as |NFT|}}
      <div class="card tile-nft-marketplace">

        <div class="card card-chart card-user nft-card-holdings">
          <div class="card-header ">
            <div class="row">
              <div class="col-sm-12 text-left">
                <p class="card-text"></p>
                <div class="author">
                  <div class="block block-one"></div>
                  <div class="block block-two"></div>
                  <div class="block block-three"></div>
                  <div class="block block-four"></div>
                  <p alt="{{NFT.name}}" title="{{NFT.name}}" class="card-title">{{NFT.name}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body nft-card-body">
            <LinkTo @route="wallet.nft-info" @models={{array NFT.contract_addr NFT.original_token_id}}>
              <div class="marketplace-nft-image-container" style="background-image: url('{{NFT.image}}')">
              </div>
            </LinkTo>
          </div>
          <div class="card-footer-actions">
            {{wallet/nft-action nft=NFT}}
          </div>
        </div>
      </div>
    {{else}}
      <div class="card">
        <div class="card-body">
          {{#if isWallet}}
            <p>{{t 'NFT.no_nft'}}
            </p>
          {{else}}
            <p>{{t 'wallet_list.no_wallet'}}
              <LinkTo @route="my-wallets">{{t 'global.link_wallet'}}</LinkTo>
              {{t 'global.or'}}
              <a href="" data-toggle="modal" data-target="#searchModal">
                {{t 'global.enter_address'}}
              </a>.
            </p>
          {{/if}}
        </div>
      </div>

    {{/each}}
  </div>
  {{#if totalPageNumber}}
    <PaginationPager
      @pager={{true}}
      @count={{totalPageNumber}}
      @current={{currentPage}}
      @change={{this.pageChanged}}
      @pagerFirst="|<"
      @pagerLast=">|"
      @pagerNext={{t 'global.next'}}
      @pagerPrevious={{t 'global.previous'}}>
      {{currentPage}} of {{totalPageNumber}}
    </PaginationPager>
  {{/if}}
</div>
