{{page-title "NFT"}}

<div class="card card-body" style="flex-direction: row;">
  <div>
    <p>
      <button type="button" {{on "click" this.metamask}} class="btn btn-fill btn-primary btn-left">
        Get your NFT using metamask
      </button>
      <br>
      {{t 'NFT.early_nft_1'}}
      <a href="#" id="walletAddr" {{action this.copySummaryToClipBoard 'NFT Address' 'walletAddr'}}>
        0xBDfc0c687861a65F54211C55E4c53A140FE0Bf32</a><br>
      {{t 'NFT.early_nft_2' htmlSafe=true}}
      <br>

    </p>
  </div>
  <div style="margin-left: auto">
    <img src="{{rootURL}}/assets/nft/badge_2021.png" alt="Thetaboard 2021 NFT"
         style="width: 200px; margin-right:20px">
  </div>
</div>

<div class="content" id="nft-list">
  <div class="row">
    {{#each this.model as |NFT|}}
      <div class="col-lg-3 col-md-12">
        <LinkTo @route="wallet.nft-info" @models={{array NFT.contract_adr NFT.original_token_id}}>
          <div class="card card-chart card-user nft-card-holdings">
            <div class="card-header ">
              <div class="row">
                <div class="col-sm-12 text-left">
                  <p class="card-text"></p>
                  <div class="author">
                    <div class="block block-one"></div>
                    <div class="block block-two"></div>
                    <div class="block block-three"></div>
                    <div class="block block-four"></div>
                    <p alt="{{NFT.name}}" title="{{NFT.name}}" class="card-title">{{NFT.name}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="" class="card-body nft-card-body">
              <img src="{{NFT.image}}" alt="{{NFT.name}}" class="nft-image">
            </div>
          </div>
        </LinkTo>
      </div>
    {{else}}
      <div class="card">
        <div class="card-body">
          {{#if isWallet}}
            <p>{{t 'NFT.no_nft'}}
            </p>
          {{else}}
            <p>{{t 'wallet_list.no_wallet'}}
              <LinkTo @route="my-wallets">{{t 'global.link_wallet'}}</LinkTo>
              {{t 'global.or'}}
              <a href="" data-toggle="modal" data-target="#searchModal">
                {{t 'global.enter_address'}}
              </a>.
            </p>
          {{/if}}
        </div>
      </div>

    {{/each}}
  </div>
</div>
