{{#async-await metamaskAvailable as |availiability|}}
  {{#if (eq availiability 0)}}
    <a href="/assets/pdf/HOW_TO_Metamask_LR.pdf" target="_blank">
      {{t 'NFT.setup_to_transfer'}}
    </a>
  {{else if (eq availiability 1)}}
    <a href="/assets/pdf/HOW_TO_Metamask_LR.pdf" target="_blank">
          {{t 'NFT.setup_to_mainnet'}}
    </a>
  {{else if (eq availiability 2)}}
    <span data-toggle="tooltip" data-placement="top"
          title="{{t 'domain.connect_to_metamask'}}">
        <img class="cursor float" src="/assets/img/transfer-greyed-small.png"/>
    </span>
  {{else if (eq availiability 3)}}
    <span data-toggle="tooltip" data-placement="top"
          title="{{t 'NFT.not_owner'}}">
        <img class="cursor float" src="/assets/img/transfer-greyed-small.png"/>
    </span>
  {{else if (eq availiability 4)}}
    <p>{{t 'NFT.selling_for'}} : {{priceEther}} 
      <img src="{{rootURL}}/assets/img/logo/tfuel.png" style="width: 20px; margin-left: 3px;"/>
    </p>
    {{#if cancelLoading}}
      <button type="button" class="btn btn-fill btn-warning">
        <img width="14" src="/assets/img/loader.gif"/>
      </button>
    {{else}}
      <button type="button" {{on "click" this.cancel_sell}} class="btn btn-fill btn-warning">
        {{t 'NFT.cancel_sell'}}
      </button>
    {{/if}}
  {{else if (eq availiability 5)}}
    {{nft-actions/transfer nft=nft setTooltip=setTooltip}}
    {{#async-await marketPlaceStatus as |isApproved|}}
      {{#if isApproved}}
        <form {{on 'submit' this.sell_nft}}>
          <br/>
          <p>{{t 'NFT.sell_for'}}:</p>
          <Input
            @class="form-control nft-sell-price-input"
            @type="number"
            placeholder="{{t 'NFT.asking_price'}}"
            @value={{this.sellPrice}}
            @min="0"
            @step="1"
            required
          />
          <img src="{{rootURL}}/assets/img/logo/tfuel.png" style="width: 28px; margin-left: 15px;"/>
          <br/>
          {{#if commitingToApprove}}
            <button class="btn btn-fill btn-primary">
              <img width="14" src="/assets/img/loader.gif"/>
            </button>
          {{else}}
            <span data-toggle="tooltip" data-placement="top" title="{{t 'NFT.sell_item'}}">
              <button type="submit" class="btn btn-fill btn-primary">
                  <i class="tim-icons icon-cart"></i>
              </button>
            </span>
          {{/if}}
        </form>
        {{#if cancelApproveLoading}}
          <button type="button" class="btn btn-fill btn-warning">
            <img width="14" src="/assets/img/loader.gif"/>
          </button>
        {{else}}
          <button type="button" class="btn btn-fill btn-warning" {{on 'click' cancel_approve_for_sell}}>
            {{t 'NFT.cancel_approve'}}
          </button>
        {{/if}}
      {{else if approveLoading}}
        <span data-toggle="tooltip" data-placement="top"
              title="{{t 'NFT.once_approved'}}">
          <button type="button" class="btn btn-fill btn-primary">
             <img width="14" src="/assets/img/loader.gif"/>
          </button>
        </span>
      {{else}}
        <span data-toggle="tooltip" data-placement="top" title="{{t 'NFT.once_approved'}}">
          <button type="button" class="btn btn-fill btn-primary" {{on "click" approve_for_sell}}>
             <i class="tim-icons icon-cart"></i>
          </button>
        </span>
      {{/if}}
    {{/async-await}}
  {{else}}
    <span data-toggle="tooltip" data-placement="top" title="">
      <img class="cursor float" src="/assets/img/transfer-greyed-small.png"/>
    </span>
  {{/if}}
{{/async-await}}