<div class="wallet-address-search-container">
    {{#if wallet.wallets}}
        <div class="dropdown dropdown-select-wallet">
                <div data-toggle="modal" data-target="#searchModal" class="selected-dorpdown-item">
                    {{#if wallet.isSearchedWalletOwned}}
                        {{wallet.isSearchedWalletOwned.name}} 
                        (<span {{shortener wallet.isSearchedWalletOwned.address}}>{{wallet.isSearchedWalletOwned.address}}</span>)
                    {{else if thetaSdk.currentAccount}}
                        <span class="long-address">{{this.thetaSdk.currentAccount}}</span>
                        <span class="short-address" {{shortener this.thetaSdk.currentAccount.firstObject}}>{{this.thetaSdk.currentAccount}}</span>
                    {{else}}
                        Enter Wallet Address
                    {{/if}}
                    <img style="float: left; width: 15px; margin: 4px 5px 0 -10px;" src="{{rootURL}}assets/img/magnifying.png"/>
                    <img style="float: right; margin: 0 -10px 0 5px;" src="{{rootURL}}assets/img/arrow.png"/>
                </div>
            <div class="dropdown-content">
                {{#each wallet.wallets as |wallet|}}
                    <p {{on 'click' (fn this.selectWallet wallet)}}>{{wallet.name}} (<span {{shortener wallet.address}}>{{wallet.address}}</span>)</p>
                    <hr style="margin: 0 0 5px 0;"/>
                {{/each}}
                <LinkTo @route="my-wallets"><p><a href="">Add Wallet</a></p></LinkTo>
            </div>
        </div>
    {{else}}
        <div class="dropdown dropdown-select-wallet">
            <div data-toggle="modal" data-target="#searchModal" class="selected-dorpdown-item">
                {{#if this.thetaSdk.currentAccount}} 
                    <span class="long-address">{{this.thetaSdk.currentAccount}}</span>
                    <span class="short-address" {{shortener this.thetaSdk.currentAccount.firstObject}}>{{this.thetaSdk.currentAccount}}</span>
                {{else}}
                    Enter Wallet Address
                {{/if}}
                <img style="float: left; width: 15px; margin: 4px 5px 0 -10px;" src="{{rootURL}}assets/img/magnifying.png"/>
                <img style="float: right; margin: 0 -10px 0 5px;" src="{{rootURL}}assets/img/arrow.png"/>
            </div>
            <div class="dropdown-content">
                <LinkTo @route="my-wallets"><p><a href="">Add Wallet</a></p></LinkTo>
            </div>
        </div>
    {{/if}}
</div>
