<div class="wallet-address-search-container">
    {{#if wallet.wallets}}
        <div class="dropdown dropdown-select-wallet">
            {{#if isMobile.android.device}}
            {{!-- Specific for android --}}
                <div class="selected-dropdown-item">
                    {{#if wallet.isSearchedWalletOwned}}
                        <span class="long-address">{{wallet.isSearchedWalletOwned.name}} (<span {{shortener wallet.isSearchedWalletOwned.address}}>{{wallet.isSearchedWalletOwned.address}}</span>)</span>
                        <span class="short-address">{{wallet.isSearchedWalletOwned.name}}</span>
                    {{else if group.isSearchedGroupOwned}}
                        <span class="long-address">{{group.isSearchedGroupOwned.name}} (<span>{{group.isSearchedGroupOwned.wallets.length}} {{t 'my_wallets.wallets'}}</span>)</span>
                        <span class="short-address">{{group.isSearchedGroupOwned.name}}</span>
                    {{else if thetaSdk.currentAccount}}
                        <span class="long-address">{{this.thetaSdk.currentAccount}}</span>
                        <span class="short-address" {{shortener this.thetaSdk.currentAccount.firstObject}}>{{this.thetaSdk.currentAccount}}</span>
                    {{else}}
                        <span class="long-address">{{t 'global.search_a_wallet'}}</span>
                        <span class="short-address">{{t 'global.search_a_wallet_short'}}</span>
                    {{/if}}
                    <img data-toggle="modal" data-target="#searchModal" style="float: left; width: 15px; margin: 4px 5px 0 0;" src="{{rootURL}}/assets/img/magnifying.png"/>
                    <img style="float: right; margin: 0 -10px 0 0;" src="{{rootURL}}/assets/img/arrow.png"/>
                </div>
            {{else}}
                <div data-toggle="modal" data-target="#searchModal" class="selected-dropdown-item">
                    {{#if wallet.isSearchedWalletOwned}}
                        <span class="long-address">{{wallet.isSearchedWalletOwned.name}} (<span {{shortener wallet.isSearchedWalletOwned.address}}>{{wallet.isSearchedWalletOwned.address}}</span>)</span>
                        <span class="short-address">{{wallet.isSearchedWalletOwned.name}}</span>
                    {{else if group.isSearchedGroupOwned}}
                        <span class="long-address">{{group.isSearchedGroupOwned.name}} (<span>{{group.isSearchedGroupOwned.wallets.length}} {{t 'my_wallets.wallets'}}</span>)</span>
                        <span class="short-address">{{group.isSearchedGroupOwned.name}}</span>
                    {{else if thetaSdk.currentAccount}}
                        <span class="long-address">{{this.thetaSdk.currentAccount}}</span>
                        <span class="short-address" {{shortener this.thetaSdk.currentAccount.firstObject}}>{{this.thetaSdk.currentAccount}}</span>
                    {{else}}
                        <span class="long-address">{{t 'global.search_a_wallet'}}</span>
                        <span class="short-address">{{t 'global.search_a_wallet_short'}}</span>
                    {{/if}}
                    <img style="float: left; width: 15px; margin: 4px 5px 0 0;" src="{{rootURL}}/assets/img/magnifying.png"/>
                    <img style="float: right; margin: 0 -10px 0 0;" src="{{rootURL}}/assets/img/arrow.png"/>
                </div>
            {{/if}}
            <div class="dropdown-content">
                {{#each wallet.wallets as |wallet|}}
                    <p {{on 'click' (fn this.selectWallet wallet)}}>{{wallet.name}} (<span {{shortener wallet.address}}>{{wallet.address}}</span>)</p>
                    <hr style="margin: 0 0 5px 0;"/>
                {{/each}}
                {{#each group.groups as |group|}}
                    <p {{on 'click' (fn this.selectGroup group)}}>{{group.name}} (<span>{{group.wallets.length}} {{t 'my_wallets.wallets'}}</span>)</p>
                    <hr style="margin: 0 0 5px 0;"/>
                {{/each}}
                <LinkTo @route="my-wallets"><p><a href="">{{t 'global.add_wallet'}}</a></p></LinkTo>
            </div>
        </div>
    {{else}}
        <div class="dropdown dropdown-select-wallet">
            {{#if isMobile.android.device}}
            {{!-- Specific for android --}}
                <div class="selected-dropdown-item">
                    {{#if this.thetaSdk.currentAccount}} 
                        <span class="long-address">{{this.thetaSdk.currentAccount}}</span>
                        <span class="short-address" {{shortener this.thetaSdk.currentAccount.firstObject}}>{{this.thetaSdk.currentAccount}}</span>
                    {{else}}
                        <span class="long-address">{{t 'global.search_a_wallet'}}</span>
                        <span class="short-address">{{t 'global.search_a_wallet_short'}}</span>
                    {{/if}}
                    <img data-toggle="modal" data-target="#searchModal" style="float: left; width: 15px; margin: 4px 5px 0 0;" src="{{rootURL}}/assets/img/magnifying.png"/>
                    <img style="float: right; margin: 0 -10px 0 0;" src="{{rootURL}}/assets/img/arrow.png"/>
                </div>
            {{else}}
                <div data-toggle="modal" data-target="#searchModal" class="selected-dropdown-item">
                    {{#if this.thetaSdk.currentAccount}} 
                        <span class="long-address">{{this.thetaSdk.currentAccount}}</span>
                        <span class="short-address" {{shortener this.thetaSdk.currentAccount.firstObject}}>{{this.thetaSdk.currentAccount}}</span>
                    {{else}}
                        <span class="long-address">{{t 'global.search_a_wallet'}}</span>
                        <span class="short-address">{{t 'global.search_a_wallet_short'}}</span>
                    {{/if}}
                    <img style="float: left; width: 15px; margin: 4px 5px 0 0;" src="{{rootURL}}/assets/img/magnifying.png"/>
                    <img style="float: right; margin: 0 -10px 0 0;" src="{{rootURL}}/assets/img/arrow.png"/>
                </div>
            {{/if}}
            <div class="dropdown-content">
                <LinkTo @route="my-wallets"><p><a href="">{{t 'global.add_wallet'}}</a></p></LinkTo>
            </div>
        </div>
    {{/if}}
</div>
