{{page-title "Creators  NFTs"}}


{{#if this.model.drop.isDeployed}}
  <button class="btn btn-fill btn-primary" disabled>Add new nft</button>
{{else}}
  <button {{on "click" this.addNewNft}} class="btn btn-fill btn-primary">Add new nft</button>
{{/if}}

<div class="content">
  {{#each NFTs as |nft|}}
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="title">
              {{#if nft.id}}
                {{nft.name}}
              {{else}}
                New NFT
              {{/if}}
            </h5>
            <p>
              {{#if nft.nftContractId}}
                Deployed at: {{nft.nftContractId}}
              {{else}}
                NFT not deployed to the blockchain
              {{/if}}
              <br>
              {{#if nft.nftSellController}}
                Selling at: {{nft.nftSellController}} <br>
                {{#async-await  nft.blockChainInfoStr as |blockChainInfo|}}
                  BlockChain info: {{blockChainInfo}}
                {{/async-await}}
              {{/if}}
            </p>


          </div>
          <div class="card-body">
            <form {{action "saveNFT" nft on="submit"}}>
              <div class="row">
                <div class="col-md-5 pr-md-1">
                  <div class="form-group">
                    <label>Name</label>
                    <Input
                      @class="form-control"
                      @type="text"
                      @disabled={{if nft.nftContractId true}}
                      placeholder="Name"
                      @value={{nft.name}}
                    />
                  </div>
                </div>
                <div class="col-md-5 pr-md-1">
                  <div class="form-group">
                    <label>Type</label>
                    <PowerSelect
                      @options={{nft.possibleTypes}}
                      @selected={{nft.type}}
                      @disabled={{if nft.nftSellController true}}
                      @onChange={{fn (mut nft.type)}} as |type|>
                      {{type}}
                    </PowerSelect>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-5 pr-md-1">
                  <div class="form-group">
                    <label>Price in Tfuel</label>
                    <Input
                      @class="form-control"
                      @type="number"
                      pattern="[0-9]"
                      @disabled={{if nft.nftSellController true}}
                      placeholder="Tfuels"
                      min="0"
                      @value={{nft.price}}
                    />
                  </div>
                </div>
                {{#if nft.isLimitedOrAuction}}
                  <div class="col-md-5 pr-md-1">
                    <div class="form-group">
                      <label>How Many Edition</label>
                      <Input
                        @class="form-control"
                        @type="number"
                        @disabled={{if nft.nftSellController true}}
                        placeholder="editions"
                        min="1"
                        @value={{nft.editionNumber}}
                      />
                    </div>
                  </div>
                {{/if}}
              </div>

              <div class="row">
                <div class="col-md-6">
                  <FileDropzone @name="photos-{{nft.id}}-image" as |nftzone queue|>
                    <h4>The NFT</h4>
                    <img src="{{nft.image}}" style="max-height: 500px">
                    <p>
                      <FileUpload @name="photos-{{nft.id}}-image"
                                  @accept="image/*"
                                  @multiple={{false}}
                                  @onFileAdd= {{fn this.uploadImage nft "image"}}>
                        <a tabindex=0>Add an Image.</a>
                      </FileUpload>
                      {{#if queue.files.length}}
                        Uploading {{queue.files.length}} files. ({{queue.progress}}%)
                      {{/if}}
                    </p>
                  </FileDropzone>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>One line description</label>
                    <Textarea @rows="4" @class="form-control" @value={{nft.smallDescription}} />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Description</label>
                    <Textarea @rows="4" @class="form-control" @value={{nft.description}} />
                  </div>
                </div>
              </div>
              {{#each nft.nftAssets as |asset|}}
                <div class="row">
                  <div class="col-md-5 pr-md-1">
                    <div class="form-group">
                      <label>Asset Name</label>
                      <Input
                        @class="form-control"
                        @type="text"
                        placeholder="Name"
                        @value={{asset.name}}
                      />
                    </div>
                  </div>
                  <div class="col-md-5 pr-md-1">
                    <div class="form-group">
                      <label>Asset Type</label>
                      <PowerSelect
                        @options={{asset.possibleTypes}}
                        @selected={{asset.type}}
                        @onChange={{fn (mut asset.type)}} as |type|>
                        {{type}}
                      </PowerSelect>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Asset Description</label>
                      <Textarea @rows="4" @class="form-control" @value={{asset.description}} />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <FileDropzone @name="photos-{{asset.id}}-image" as |nftzone queue|>
                      <h4>Asset</h4>
                      {{#if asset.isImage}}
                        <img class="nft-main-image" src="{{asset.asset}}" alt="{{asset.name}}" style="width: 200px"/>
                      {{else if asset.isVideo}}
                        {{#if asset.asset}}
                          <video class="nft-main-video" playsinline autoplay loop style="width: 200px">
                            <source src="{{asset.asset}}" type="video/mp4">
                          </video>
                        {{/if}}
                      {{/if}}
                      <p>
                        <FileUpload @name="photos-{{asset.id}}-image"
                                    @accept="*"
                                    @multiple={{false}}
                                    @onFileAdd={{fn this.uploadImage asset "asset"}}>
                          <a tabindex=0>Add an Image or MP4.</a>
                        </FileUpload>
                        {{#if queue.files.length}}
                          Uploading {{queue.files.length}} files. ({{queue.progress}}%)
                        {{/if}}
                      </p>
                    </FileDropzone>
                    <button {{on "click" (fn deleteAsset asset)}} type="button" class="btn btn-fill btn-dark">Delete
                      Asset
                    </button>
                  </div>
                </div>
              {{/each}}
              <div class="card-footer">
                <button type="submit" class="btn btn-fill btn-primary">Save</button>
                {{#unless nft.nftSellController}}
                  <button {{on "click" (fn delete nft)}} type="button" class="btn btn-fill btn-dark">Delete</button>
                {{/unless}}
                <button {{on "click" (fn newAsset nft)}} type="button" class="btn btn-fill btn-darker">New Asset
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>

{{#if this.model.drop.isDeployed}}
  <button class="btn btn-fill btn-primary" disabled>Add new nft</button>
{{else}}
  <button {{on "click" this.addNewNft}} class="btn btn-fill btn-primary">Add new nft</button>
{{/if}}