{{page-title "Creators  NFTs"}}


{{#if this.model.drop.isDeployed}}
  <button class="btn btn-fill btn-primary" disabled>Add new nft</button>
{{else}}
  <button {{on "click" this.addNewNft}} class="btn btn-fill btn-primary">Add new nft</button>
{{/if}}

<div class="content">
  {{#each NFTs as |nft|}}
    <div class="row">
      <div class="col-md-12">
        {{creators/drops/nft nft=nft}}
      </div>
    </div>
  {{/each}}
</div>

{{#if this.model.drop.isDeployed}}
  <button class="btn btn-fill btn-primary" disabled>Add new nft</button>
{{else}}
  <button {{on "click" this.addNewNft}} class="btn btn-fill btn-primary">Add new nft</button>
{{/if}}