{{#if reversed}}
    <div class="alert alert-success buy-domain">
        <span><b> {{domainName}} </b> {{t 'domain.domain_reversed'}}</span>
    </div>
{{else}}
    {{#if reverseNamePanel}}
        <p>{{t 'domain.about_to_reverse_name'}} <span class="bold">{{domainName}}</span> {{t 'domain.to_address'}}</p>
        <p>{{metamask.currentAccount}}</p>
        {{#if commitingToReverse}}
        {{else}}
            <img class="btn-icon-global right-margin" {{on 'click' toggleReverseNamePanel}} src="/assets/img/cancel-small.png" />
        {{/if}}
            {{#if reversing}}
                <img width="40" src="/assets/img/loader.gif" />
            {{else if commitingToReverse}}
                <img src="/assets/img/see-mm-small.png" />
            {{else}}
                <img width="40" class="btn-icon-global" {{on 'click' setReverseName}} src="/assets/img/ok-small.png" />
            {{/if}}
    {{else}}
            <img class="cursor float" {{on 'click' toggleReverseNamePanel}} src="/assets/img/set-action-small.png"/>
    {{/if}}
{{/if}}
