{{#if transferPanel}}
    <p>{{t 'domain.about_to_assign_all'}} <b>{{metamask.currentAccount}}</b><br/>{{t 'domain.multiple_transactions'}}</p>
    {{#if commitingToTransfer}}
    {{else}}
        <img class="btn-icon-global right-margin" {{on 'click' toggleTransferPanel}} src="/assets/img/cancel-small.png" />
    {{/if}}
        {{#if transfering}}
            <img width="40" src="/assets/img/loader-square-fixed-small.png" />
        {{else if commitingToTransfer}}
            <img width="40" src="/assets/img/see-mm-small.png" />
        {{else}}
            <img class="btn-icon-global" {{on 'click' assignAll}} src="/assets/img/ok-small.png" />
        {{/if}}
{{else}}
    <img class="cursor float" {{on 'click' toggleTransferPanel}} src="/assets/img/set-action-small.png"/>
{{/if}}
