{{page-title "Drops"}}

<div class="card card-user" id="card-drops">
  <div class="card-body card-min-390">
    <p class="card-text"></p>
    <div class="author">
      <div class="block block-one"></div>
      <div class="block block-two"></div>
      <div class="block block-three"></div>
      <div class="block block-four"></div>
    </div>
    <div class="card-body-stake">
      <h5 class="title">{{t 'drop.title'}}</h5>
      <div class="row justify-content-lg-center justify-content-md-center">
        <label>{{t 'drop.subtitle'}}</label>
      </div>
      {{#if sponsored}}
        <br>
        <h3>Thetaboard Sponsored Drops</h3>
        <div class="row">
          {{#each sponsored as |drop|}}
            <div class="col-sm-12 col-md-4 drop-tile-container">
              {{marketplace/drop-tile drop=drop}}
            </div>
          {{/each}}
        </div>

        {{#if totalSponsoredPage}}
          <PaginationPager
            @pager={{true}}
            @count={{totalSponsoredPage}}
            @current={{currentSponsoredPage}}
            @change={{pageChangedSponsored}}
            @pagerFirst="|<"
            @pagerLast=">|"
            @pagerNext={{t 'global.next'}}
            @pagerPrevious={{t 'global.previous'}}>
            {{currentSponsoredPage}} of {{totalSponsoredPage}}
          </PaginationPager>
        {{/if}}
      {{/if}}

      {{#if live}}
        <br>
        <h3>Live Drops </h3>
        <div class="row">
          {{#each live as |drop|}}
            <div class="col-sm-12 col-md-4 drop-tile-container">
              {{marketplace/drop-tile drop=drop}}
            </div>
          {{/each}}
        </div>

        {{#if totalLivePage}}
          <PaginationPager
            @pager={{true}}
            @count={{totalLivePage}}
            @current={{currentLivePage}}
            @change={{pageChangedLive}}
            @pagerFirst="|<"
            @pagerLast=">|"
            @pagerNext={{t 'global.next'}}
            @pagerPrevious={{t 'global.previous'}}>
            {{currentLivePage}} of {{totalLivePage}}
          </PaginationPager>
        {{/if}}
      {{/if}}

      {{#if isComing}}
        <br>
        <h3>Coming Drops</h3>
        <div class="row">
          {{#each isComing as |drop|}}
            <div class="col-sm-12 col-md-4 drop-tile-container">
              {{marketplace/drop-tile drop=drop}}
            </div>
          {{/each}}
        </div>
        {{#if totalComingPage}}
          <PaginationPager
            @pager={{true}}
            @count={{totalComingPage}}
            @current={{currentComingPage}}
            @change={{pageChangedComing}}
            @pagerFirst="|<"
            @pagerLast=">|"
            @pagerNext={{t 'global.next'}}
            @pagerPrevious={{t 'global.previous'}}>
            {{currentComingPage}} of {{totalComingPage}}
          </PaginationPager>
        {{/if}}
      {{/if}}

      {{#if ended}}
        <br>
        <h3>Past Drops</h3>
        <div class="row">
          {{#each ended as |drop|}}
            <div class="col-sm-12 col-md-4 drop-tile-container">
              {{marketplace/drop-tile drop=drop}}
            </div>
          {{/each}}
        </div>
        {{#if totalEndedPage}}
          <PaginationPager
            @pager={{true}}
            @count={{totalEndedPage}}
            @current={{currentEndedPage}}
            @change={{pageChangedEnded}}
            @pagerFirst="|<"
            @pagerLast=">|"
            @pagerNext={{t 'global.next'}}
            @pagerPrevious={{t 'global.previous'}}>
            {{currentEndedPage}} of {{totalEndedPage}}
          </PaginationPager>
        {{/if}}
      {{/if}}
    </div>
  </div>
  <div class="card-footer">
  </div>
</div>