{{#if isOwner}}
    <div class="alert alert-thetaboard buy-domain">
        <span><b>{{t 'domain.own_domain'}} {{domainName}}.theta</b></span>
    </div>
    {{#if isCurrentReverseName}}
        <div class="alert alert-thetaboard buy-domain">
            <span><b>{{domainName}}.theta {{t 'domain.domain_is_reverse_name'}}</b></span>
        </div>
    {{/if}}
{{else}}
    <div class="alert alert-warning buy-domain">
        <span><b> {{domainName}}.theta </b> {{t 'domain.already_registered'}}</span>
    </div>
{{/if}}