
{{#if nameBought}}
    <div id="domain-right-panel" class="col-md-5 domain-left">
        <LinkTo @route="wallet.nft-info" @models={{array abi.tnsRegistrarContractAddr tokenId}} @class="btn btn-primary btn-fixed-width">{{t 'domain.see_domain'}}</LinkTo>

    </div>
    <div class="alert alert-thetaboard buy-domain">
        <span> {{t 'domain.domain_bought'}} <b> {{domainName}}.theta </b> </span>
    </div>
{{else}}
    <div id="domain-right-panel" class="col-md-5 domain-left">
        {{#if isStep1}}
            {{#if isBalanceEnough}}
                {{#if canBuy}}
                {{else}}
                    <span data-toggle="tooltip" data-placement="top"
                    title="{{t 'domain.step1'}}">
                        {{#if timerOn}}
                            <button class="btn btn-fixed-width btn-primary disabled">
                                {{t 'domain.registering'}}
                            </button>
                        {{else if nameCommited}}
                            <button class="padding510 btn btn-fixed-width btn-primary disabled">
                                <img width="46" src="/assets/img/loader.gif" />
                            </button>
                        {{else if commitingName}}
                            <button class="padding510 btn btn-fixed-width btn-primary disabled">
                                <img width="46" src="/assets/img/mm-on-small.png" />
                            </button>
                        {{else}}
                            <button {{on "click" commitName}}  class="btn btn-fixed-width btn-primary {{if commitingName 'disabled'}}">
                                {{t 'domain.request_to_register'}}
                            </button>
                        {{/if}}
                    </span>
                    {{enableTooltip}}
                {{/if}}
            {{/if}}
        {{/if}}

        {{#if isStep2}}
            <span data-toggle="tooltip" data-placement="top" title="{{t 'domain.valid_for_24h'}} {{formattedTimestamp}}">
                <div class="btn btn-fixed-width domain-connect ">{{t 'domain.requested'}}<br/></div>
            </span>
        {{/if}}

        <div style="{{if timerOn '' displayNone}}" class="progress-bar-container domain">
            <span data-toggle="tooltip" data-placement="top" title="{{t 'domain.step2'}}">
                <div class="progress-bar">
                    <span class="progress-bar-inner"></span>
                </div>
                <div class="progress-placeholder-text">
                    <img class="progress-clock" src="/assets/img/wait-small.png"/> {{t 'domain.1min'}}
                </div>
            </span>
        </div>

        {{#if isStep3}}
            {{#if isBalanceEnough}}
                {{#if canBuy}}
                    <span data-toggle="tooltip" data-placement="top" title="{{t 'domain.valid_for_24h'}}  {{formattedTimestamp}}">
                        <div class="btn btn-fixed-width domain-connect ">{{t 'domain.requested'}}<br/></div>
                    </span>
                    <br/>
                    <div class="btn btn-fixed-width domain-connect">{{t 'domain.ready'}}</div>
                    <br/>
                    <span data-toggle="tooltip" data-placement="top" title="{{t 'domain.step3'}}">
                        {{#if buyingName}}
                            <button class="padding510 btn btn-fixed-width btn-primary disabled">
                                <img width="46" src="/assets/img/loader.gif" />
                            </button>
                        {{else if commitBuyingName}}
                            <button class="padding510 btn btn-fixed-width btn-primary disabled">
                                <img width="46" src="/assets/img/mm-on-small.png" />
                            </button>
                        {{else}}
                            <button {{on "click" buyName}} class="btn btn-fixed-width btn-primary {{if commitBuyingName 'disabled'}}">
                                {{t 'domain.buy_domain'}}
                            </button>
                        {{/if}}
                    </span>
                {{/if}}
            {{/if}}
        {{/if}}

        {{#if isBalanceEnough}}
        {{else}}
            <button class="btn btn-secondary">{{t 'domain.insufficient_funds'}}</button>
        {{/if}}
    </div>
     <div class="alert alert-success buy-domain">
        <span><b> {{domainName}}.theta </b> {{t 'domain.available_domain'}} {{price}} {{t 'global.tfuel'}}</span>
    </div>
{{/if}}
