{{#async-await metamask.initMeta as |init|}}
    {{#if metamask.isConnected}}
        <div {{on 'click' metamask.disconnect}} class="">{{t 'domain.disconnect'}} - 
            <span class="metamask-account" {{shortener metamask.currentAccount}}>{{metamask.currentAccount}}</span>
            {{#if metamask.currentName}}
                <br/><span class="metamask-account">{{metamask.currentName}}.theta</span>
            {{/if}}
        </div>
    {{else}}
        <div {{on 'click' metamask.connect}} class="">{{t 'domain.connect'}}</div>
    {{/if}}
{{else}}
    <div {{on 'click' metamask.connect}} class="">{{t 'domain.connect'}}</div>     
{{/async-await}}