{{#async-await metamask.initMeta as |init|}}
    {{#if metamask.isConnected}}
        <div class="button-metamask-container">
            <button class="btn btn-primary button-icon-tb logout-metamask" {{on 'click' metamask.disconnect}}>
                <img class="metamask-icon-connect" width="25" src="/assets/img/mmon.png"/>
                <i class="icon-tb icon-logout" style="font-size: 35px;"></i>
            </button>
            <div class="metamask-account">
                {{#if metamask.currentName}}
                    <span>{{metamask.currentName}}</span><br/>
                {{/if}}
                <span {{shortener metamask.currentAccount}}></span>
            </div>
        </div>
    {{else}}
        <div class="button-metamask-container">
            <button class="btn btn-primary button-icon-tb logout-metamask" {{on 'click' metamask.connect}}>
                <img class="metamask-icon-connect" width="25" src="/assets/img/mmoff.png"/>
                <i class="icon-tb icon-login" style="font-size: 35px;"></i>
            </button>
        </div>
    {{/if}}
{{else}}
    <div class="button-metamask-container">
        <button class="btn btn-primary button-icon-tb logout-metamask" {{on 'click' metamask.connect}}>
            <img class="metamask-icon-connect" width="25" src="/assets/img/mmoff.png"/>
            <i class="icon-tb icon-login" style="font-size: 35px;"></i>
        </button>
    </div>
{{/async-await}}