<div class="left-menu">
    {{#if metamask.isConnected}}
        <button {{on 'click' metamask.disconnect}} class="domain-connect">{{t 'domain.disconnect'}} - <span class="metamask-account" {{shortener metamask.currentAccount}}>{{metamask.currentAccount}}</span></button>
        
    {{else}}
        <button {{on 'click' metamask.connect}} class="domain-connect">{{t 'domain.connect'}}</button>     
    {{/if}}   
</div>
<div class="right-menu">
    {{#if metamask.currentAccount}}
        <button class="domain-connect">{{t 'domain.my_account'}}</button>        
    {{/if}}
</div>    
<div style="clear:both;"></div>
