<div class="col-12">
    <p class="tns-title">{{t 'domain.explanation_title'}}</p>
    <p><span class="purple-font">{{t 'domain.ie'}}.</span> {{t 'domain.explanation_address'}}</p>
    <p class="tns-title">{{t 'domain.explanation_title_2'}}</p>
    <p><span class="purple-font">{{t 'domain.ie'}}.</span> {{t 'domain.explanation_name_exemple'}}</p>
</div>

<div class="col-12" style="margin: 25px 0;">
    <p class="tns-title">{{t 'domain.explanation_why_get_domain'}}</p>
</div>

<div class="col-md-6">
    <div class="explanation-tile">
        <img width="40" src="/assets/img/memorable.png" /><br/>
        <span class="explanation-tile-title">{{t 'domain.memorable'}}</span>
        <p>{{t 'domain.memorable_desc_1'}}<br/>
        <span class="purple-font">{{t 'domain.memorable_desc_2'}}</span></p>
    </div>
</div>

<div class="col-md-6">
    <div class="explanation-tile">
        <img width="40" src="/assets/img/communicable.png" /><br/>
        <span class="explanation-tile-title">{{t 'domain.communicable'}}</span>
        <p>{{t 'domain.communicable_desc_1'}}<br/>
        <span class="purple-font">{{t 'domain.communicable_desc_2'}}</span></p>
    </div>
</div>

<div class="col-md-6">
    <div class="explanation-tile">
        <img width="40" src="/assets/img/confusion.png" /><br/>
        <span class="explanation-tile-title">{{t 'domain.avoid_confusion'}}</span>
        <p>{{t 'domain.avoid_confusion_desc_1'}}<br/>
        <span class="purple-font">{{t 'domain.avoid_confusion_desc_2'}}</span></p>
    </div>
</div>

<div class="col-md-6">
    <div class="explanation-tile">
        <img width="40" src="/assets/img/UIfriendly.png" /><br/>
        <span class="explanation-tile-title">{{t 'domain.ui_friendly'}}</span>
        <p>{{t 'domain.ui_friendly_desc_1'}}<br/>
        <span class="purple-font">{{t 'domain.ui_friendly_desc_2'}}</span></p>
    </div>
</div>

<div class="col-12" style="margin: 25px 0;">
    <img width="80" src="/assets/img/thetaname.png" />
    <br/>
    <br/>
    <p class="tns-title" style="margin: 0;">{{t 'domain.put_name'}}</p>
    <p class="tns-title" style="margin: 0;">{{t 'domain.on_theta'}}</p>
</div>
