<div class="col-12 price-title" style="margin: 25px 0;">
    <p class="tns-title">{{t 'domain.prices'}}</p>
</div>

<div class="col-md-6">
    <div class="explanation-tile">
        <p>3 {{t 'domain.prices_char'}} = <span class="higlight">3000</span> <i class="tfuel-marketplace icon-tb icon-tfuel-2"></i></p>
        <p>4 {{t 'domain.prices_char'}} = <span class="higlight">1500</span> <i class="tfuel-marketplace icon-tb icon-tfuel-2"></i></p>
        <p>5 {{t 'domain.prices_char'}} = <span class="higlight">1000</span> <i class="tfuel-marketplace icon-tb icon-tfuel-2"></i></p>
    </div>
</div>

<div class="col-md-6">
    <div class="explanation-tile">
        <p>6 {{t 'domain.prices_char'}} = <span class="higlight">750</span>  <i class="tfuel-marketplace icon-tb icon-tfuel-2"></i></p>
        <p>7 {{t 'domain.prices_char'}} = <span class="higlight">600</span> <i class="tfuel-marketplace icon-tb icon-tfuel-2"></i></p>
        <p>8+ {{t 'domain.prices_char'}} = <span class="higlight">500</span> <i class="tfuel-marketplace icon-tb icon-tfuel-2"></i></p>
    </div>
</div>