<div class="col-12 price-title" style="margin: 25px 0;">
    <p class="tns-title">{{t 'domain.prices'}}<br/>
    <span class="higlight">{{t 'domain.price_subtitle'}}</span></p>
</div>

<div class="col-md-6">
    <div class="explanation-tile">
        <p>3 {{t 'domain.prices_char'}} = <span class="crossed-prices">3000</span> <span class="higlight"> 2500 <i class="tfuel-marketplace icon-tb icon-tfuel-2"></i></span></p>
        <p>4 {{t 'domain.prices_char'}} = <span class="crossed-prices">1500</span> <span class="higlight"> 1000 <i class="tfuel-marketplace icon-tb icon-tfuel-2"></i></span></p>
        <p>5 {{t 'domain.prices_char'}} = <span class="crossed-prices">1000</span> <span class="higlight"> 500 <i class="tfuel-marketplace icon-tb icon-tfuel-2"></i></span></p>
    </div>
</div>

<div class="col-md-6">
    <div class="explanation-tile">
        <p>6 {{t 'domain.prices_char'}} = <span class="crossed-prices">750</span> <span class="higlight"> 250 <i class="tfuel-marketplace icon-tb icon-tfuel-2"></i></span></p>
        <p>7 {{t 'domain.prices_char'}} = <span class="crossed-prices">600</span> <span class="higlight"> 150 <i class="tfuel-marketplace icon-tb icon-tfuel-2"></i></span></p>
        <p>8+ {{t 'domain.prices_char'}} = <span class="crossed-prices">500</span> <span class="higlight"> 100 <i class="tfuel-marketplace icon-tb icon-tfuel-2"></i></span></p>
    </div>
</div>