<div class="col-12" style="margin: 25px 0;">
    <p class="tns-title">{{t 'domain.timeline'}}</p>
</div>

<div class="col-md-6">
    <div class="explanation-tile">
        <span class="explanation-tile-title">{{t 'domain.timeline_phase1'}}</span>
        <p>{{t 'domain.timeline_buy'}}</p>
        <p>{{t 'domain.timeline_transfer'}}</p>
        <p>{{t 'domain.timeline_assign'}}</p>
    </div>
</div>

<div class="col-md-6">
    <div class="explanation-tile">
        <span class="explanation-tile-title">{{t 'domain.timeline_phase2'}}</span>
        <span class="explanation_sub">{{t 'domain.timeline_phase2_sub'}}</span>
        <p>{{t 'domain.timeline_theta'}}</p>
        <p>{{t 'domain.timeline_ecosystem'}}</p>
        <p>{{t 'domain.timeline_reselling'}}</p>
    </div>
</div>