{{page-title "Staking Theta"}}

<div class="card card-user">
  <div class="card-body card-min-390">
    <p class="card-text"></p>
    <div class="author">
      <div class="block block-one"></div>
      <div class="block block-two"></div>
      <div class="block block-three"></div>
      <div class="block block-four"></div>
      <img class="avatar" src="{{rootURL}}/assets/img/logo/theta.png" alt="...">
    </div>
    <div class="card-body-stake">
      <h5 class="title">{{t 'staking.theta.title'}}</h5>
      <div class="row justify-content-lg-center justify-content-md-center">
        <form class="col-md-9">
          <label>{{t 'staking.theta.subtitle'}}</label>
          <p>{{t 'staking.theta.fees'}}</p>
          <br/>
          <br/>
          <p>{{t 'staking.theta.tuto'}}<br/>
          <a target="_blank" href="https://medium.com/theta-network/theta-1-click-delegated-staking-now-live-in-the-theta-web-wallet-b80d499aae71">https://medium.com/theta-network/theta-1-click-delegated-staking-now-live-in-the-theta-web-wallet-b80d499aae71</a>.</p>
          <br/><br/>
          <p>{{t 'staking.theta.use_summary'}}:</p>
          <input id="input-to-copy-from-theta" class="input-to-hide" value="{{summary}}"/>
         <div {{on "click" (action this.copySummaryToClipBoard 'Summary' 'input-to-copy-from-theta')}} style="cursor: pointer;" class="card-description-summary">
            <p class="summary-value">{{summary}}</p>
          </div>
        </form>
      </div>
      <br/><br/><br/>
      <div class="stakes-no-activity">
        {{#if this.thetaSdk.guardianWallets.length}}
          <div class="stakes-activity">
            <p class="title">{{t 'global.your_stakes'}}</p>
            {{#each this.thetaSdk.guardianWallets as |guardianWallet|}}
              <p class="title"><img src="{{rootURL}}/assets/img/logo/theta.png" style="width: 15px; margin-left: 3px; margin-top: -2px;"/>
                <span class="nostyle" {{numberformat guardianWallet.amount 2}}></span> <span class="capitalize">{{guardianWallet.currency}}</span> {{t 'global.staked'}}</p>
              <p class="description">{{t 'global.staked_on'}}:<br/>{{guardianWallet.node_address}}</p>
            {{/each}}
          </div>
        {{else}}
          <br/><br/><br/>
          <div class="stakes-no-activity">
            <p class="title">{{t 'staking.theta.no_theta_staked'}}</p><br/>
            <p class="description">{{t 'staking.theta.earn'}}</p>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="card-footer">
  </div>
</div>