<div class="card card-chart card-user">
  <div class="card-header ">
    <div class="row">
      <div class="col-sm-12 text-left">
        <p class="card-text"></p>
        <div class="author">
          <div class="block block-one"></div>
          <div class="block block-two"></div>
          <div class="block block-three"></div>
          <div class="block block-four"></div>
          <img class="avatar" src="{{rootURL}}/assets/img/logo/tfuel.png" alt="..."/>
          <h2 class="card-title forecast-title">{{t 'reward_forecast.title_tfuel'}} {{setUpChart}}
            {{#if this.thetaSdk.tfuelAPR}}(<span class="nostyle" {{numberformat this.thetaSdk.tfuelAPR 1}}></span>% APR*){{/if}}
          </h2>

          <br/>
          <p class="form-inline forecast-amout-inline">{{t 'reward_forecast.subtitle'}}
          <Input
                  @type="number"
                  @value={{tfuelAmount}}
                  @class="form-control theta-ammout-forecast"
                  {{on "keyup" this.updateData}}
          />
          Tfuel</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div id="forecast-chart-container-tfuel">
      <canvas id="forecastChartTfuel" height="239" {{did-insert this.setupChart}}></canvas>
    </div>
    <div class="forecast-legend">
      <p class="forcast-earning-title">{{t 'reward_forecast.estimated_earning'}}:</p>
      <div class="row">
        <div class="col-sm-4">
          <span class="legend-label"> {{t 'reward_forecast.per_day'}}:</span> <br>
          <span class="amount"><span class="nostyle" {{numberformat avg_tfuel_per_day 2}}></span><img
                  src="assets/img/logo/tfuel.png" style="width: 15px; margin-left: 3px; vertical-align: unset;"></span>
          <br>
          <span class="amount">{{avg_tfuel_per_day_dollar}}</span>
        </div>
        <div class="col-sm-4">
          <span class="legend-label"> {{t 'reward_forecast.per_month'}}:</span> <br>
          <span class="amount"><span class="nostyle" {{numberformat avg_tfuel_per_month 2}}></span><img
                  src="assets/img/logo/tfuel.png" style="width: 15px; margin-left: 3px; vertical-align: unset;"></span>
          <br>
          <span class="amount">{{avg_tfuel_per_month_dollar}}</span>
        </div>
        <div class="col-sm-4">
          <span class="legend-label"> {{t 'reward_forecast.per_year'}}:</span> <br>
          <span class="amount"><span class="nostyle" {{numberformat avg_tfuel_per_year 2}}></span><img
                  src="assets/img/logo/tfuel.png" style="width: 15px; margin-left: 3px; vertical-align: unset;"></span>
          <br>
          <span class="amount">{{avg_tfuel_per_year_dollar}}</span>
        </div>
      </div>
    </div>
      <sub>*{{t 'global.apr_not_guarentee'}}</sub>
  </div>
</div>