{{page-title "Login"}}


<div class="card login-card" style="margin: 80px auto;">
    <div class="logo">
        <LinkTo @route='dashboard' @class="">
            <img class="thetaboard-logo" src="{{rootURL}}assets/img/thetaboard-logo.png"/>
        </LinkTo>
    </div>
    <div class="card-body">
    <h4 class="card-title">Login</h4>
        <form {{on 'submit' this.authenticate}}>
            {{#each this.errorMessages as |error|}}
                <div class="row">
                    <div class="col-md-6" style=" margin: auto;">
                        <div class="alert alert-warning" style="padding: 10px;">
                            <span>{{error.message}}</span>
                        </div>
                    </div>
                </div>
            {{/each}}
            <div class="row">
                <div class="col-md-6" style=" margin: auto;">
                    <div class="form-group">
                    <Input @type="email" required minlength="6" @class="form-control" @placeholder="Email" style="text-align:center;" @value={{email}}/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style=" margin: auto;">
                    <div class="form-group">
                    <Input @type="password" required minlength="6" @class="form-control" @placeholder="Password" style="text-align:center;" @value={{password}}/>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    <br/>
    {{!-- <br/>
    <p class="card-text">Or</p>
    <div class="col-md-6" style=" margin: auto;">
        <div class="social-login">
            <img src="{{rootURL}}assets/img/google.svg" width="17px" /> 
            <span>Login with Google</span>
        </div>

        <div class="social-login">
            <img src="{{rootURL}}assets/img/facebook.png" width="17px" /> 
            <span>Login with Facebook</span>
        </div>

        <div class="social-login">
            <img src="{{rootURL}}assets/img/twitter.png" width="17px" /> 
            <span>Login with Twitter</span>
        </div>

        <div class="social-login">
            <img src="{{rootURL}}assets/img/github.png" width="17px" /> 
            <span>Login with Github</span>
        </div>
    </div> --}}
    <LinkTo @class="nav-link" @route="signup">No account yet? Sign up for an account</LinkTo>
    <LinkTo @class="nav-link" @route="resetpassword">Can't login?</LinkTo>
  </div>
</div>