<h2>{{nftAsset.name}}</h2>
<div class="nft-assets-container">
  {{#if isImage}}
    <img class="nft-main-image" src="{{nftAsset.asset}}" alt="{{nftAsset.name}}"/>
  {{else if isVideo}}
    <video class="nft-main-video" controls loop playsinline>
      <source src="{{nftAsset.asset}}" type="video/mp4">
    </video>
  {{/if}}
</div>
<br/>
<p class="description">{{nftAsset.description}}</p>
<br/>