<div class="card tile-nft-marketplace">
  <div class="card-body" style="padding: 5px 5px 10px;">
    <h3 class="card-title" style="text-align: center;">{{nft.name}}</h3>
    <hr style="border-top: 5px solid #e14eca; width: 100%; margin:0 0"/>
  </div>
  <div class="marketplace-nft-image-container" style="background-image: url('{{nft.image}}')">
  </div>
  <div class="tile-bottom-marketplace">
    <div class="row">
      <div class="col col-lg-7 padding0">
        {{#if nft.properties.artist}}
          <p class="tile-botom-label-marketplace">{{nft.properties.artist.name}}</p>
        {{else}}
          <p class="tile-botom-label-marketplace">{{t 'marketplace.unknown_artist'}}</p>
        {{/if}}
      </div>
      <div class="col col-lg-1">
      </div>
      <div class="col col-lg-3">
        <span data-toggle="tooltip" data-placement="top" title="{{t 'NFT.see_more'}}">
          <LinkTo @route="wallet.nft-info" @models={{array nft.contract_addr nft.original_token_id}}
            @class="button-icon-tb btn btn-fill btn-primary">
              <i class="icon-tb icon-see-more"></i>
          </LinkTo>
        </span>
      </div>
    </div>
    <hr style="margin: 3px 0;"/>
    <div class="row">
      <div class="col col-lg-7 padding0">
        <p class="tile-botom-price-marketplace">
          <i class="tfuel-marketplace icon-tb icon-tfuel-2"></i>
          <span style="display: inline-block;vertical-align: top;margin-top: 9px;" class="nostyle" {{numberformat priceEther 0}}></span>
        </p>
      </div>
      <div class="col col-lg-1">
      </div>
      <div class="col col-lg-3">
        {{nft-actions/buy nft=nft}}
      </div>
    </div>
    <div class="row">
      <div class="col col-lg-7 padding0">
          <div class="white-font" style="text-align:right;">
             {{currency.currentCurrency.symbol}} <span class="nostyle" {{numberformat priceCurrency 2}}></span>
          </div>
      </div>
      <div class="col col-lg-1">
      </div>
      <div class="col col-lg-3">
      </div>
    </div>
  </div>
</div>