<span class="long-address">{{group.isSearchedGroupOwned.name}} (<span>{{group.isSearchedGroupOwned.wallets.length}} {{t 'my_wallets.wallets'}}</span>)</span>
<span class="short-address">{{group.isSearchedGroupOwned.name}} (<span>{{group.isSearchedGroupOwned.wallets.length}} {{t 'my_wallets.wallets'}}</span>)</span>
