<div class="card">
  <div class="card-header">
    <h4 class="card-title">{{t 'transaction_history.title'}}</h4>
  </div>
  <div class="card-body">
    {{#if this.args.loading}}
      <p style="text-align: center;"><img class="main-loader rotate transactions" width="50" src="{{rootURL}}/assets/img/theta-logo.png"/></p>
    {{else}}
      {{#if this.thetaSdk.walletList.length}}
        {{transactions/export}}
      {{/if}}
    {{/if}}
    <div class="table-responsive transac-history-table {{if this.args.loading 'visibility-hidden'}}">
      <table class="table">
        <thead>
          <tr>
            <th class="text-center">{{t 'global.type'}}</th>
            <th class="text-center d-none d-sm-none d-md-table-cell">{{t 'global.block'}}</th>
            <th class="text-center">{{t 'transaction_history.age'}}</th>
            <th class="text-center d-none d-sm-none d-md-none d-lg-none d-xl-table-cell">{{t 'transaction_history.from'}}</th>
            <th class="text-center d-none d-sm-table-cell"></th>
            <th class="text-center d-none d-sm-none d-md-none d-lg-none d-xl-table-cell">{{t 'transaction_history.to'}}</th>
            <th class="text-center">{{t 'transaction_history.value'}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each transactionList as |transaction|}}
            <tr>
              <td class="text-center transaction-type"><img
                src="{{rootURL}}/assets/img/transactions/{{transaction.type}}.png"/> {{transaction.typeName}}</td>
              <td class="text-center d-none d-sm-none d-md-table-cell">{{transaction.blockHeight}}</td>
              <td class="text-center"><a href="{{explorerEndpoint}}/txs/{{transaction.txnHash}}"
                                         target="_blank">{{moment-from transaction.txTimestamp}}</a></td>
              <td class="text-center d-none d-sm-none d-md-none d-lg-none d-xl-table-cell">
                <LinkTo {{shortener transaction.fromAddress}} @route="wallet.explorer" @query={{hash group=null
                                                                                                     wa=transaction.fromAddress}}>{{transaction.fromAddress}}</LinkTo>
              </td>
              <td class="text-center d-none d-sm-table-cell" id="in-or-out"><img
                src="/assets/img/transaction-{{transaction.inOrOut}}.png"/></td>
              <td class="text-center d-none d-sm-none d-md-none d-lg-none d-xl-table-cell">
                <LinkTo {{shortener transaction.toAddress}} @route="wallet.explorer" @query={{hash group=null
                                                                                                   wa=transaction.toAddress}}>{{transaction.toAddress}}</LinkTo>
              </td>
              <td class="text-left td-value">
                <div>
                  <img src="/assets/img/logo/theta.png" class="img-fluid rounded-circle" style="width: 20px;"
                       alt="logo"/>
                  <span class="coin-amount"><span class="nostyle" {{numberformat transaction.thetaAmount
                                                                                 3}}></span> <span class="capitalize">Theta</span> </span>
                  <span class="coin-value">[{{currency.currentCurrency.symbol}}<span class="nostyle" {{numberformat
                    transaction.thetaValue 2}}></span>]</span>
                </div>
                <div>
                  <img src="/assets/img/logo/tfuel.png" class="img-fluid rounded-circle" style="width: 20px;"
                       alt="logo"/>
                  <span class="coin-amount"><span class="nostyle" {{numberformat transaction.tfuelAmount 3}}></span> <span class="capitalize">Tfuel</span> </span>
                  <span class="coin-value">[{{currency.currentCurrency.symbol}}<span class="nostyle" {{numberformat transaction.tfuelValue 2}}></span>]</span>
                </div>
            </td>
          </tr>
          {{else}}
            <p>{{t 'transaction_history.no_transaction'}}</p>
          {{/each}}
        </tbody>
      </table>
      {{#if showPagination}}
      <PaginationPager
        @pager={{true}}
        @count={{this.thetaSdk.pagination.totalPageNumber}}
        @current={{this.thetaSdk.pagination.currentPageNumber}}
        @change={{this.pageChanged}}
        @pagerFirst="|<"
        @pagerLast=">|"
        @pagerNext={{t 'global.next'}}
        @pagerPrevious={{t 'global.previous'}}>
        {{this.thetaSdk.pagination.currentPageNumber}} of {{this.thetaSdk.pagination.totalPageNumber}}
      </PaginationPager>
      {{/if}}
    </div>
  </div>
</div>
