<div class="card card-user">
  <div class="card-body card-min-412">
    <p class="card-text"></p>
    <div class="author">
      <div class="block block-one"></div>
      <div class="block block-two"></div>
      <div class="block block-three"></div>
      <div class="block block-four"></div>
      <img class="avatar" style="width: 118px;" src="{{rootURL}}/assets/img/logo/thetaTfuel.png" alt="...">
    </div>
    <div class="card-body-stake">
      <h5 class="title">{{t 'coinbase_history.title' token="Total"}}</h5>
      {{#if this.thetaSdk.walletList.length}}
        {{#if this.args.loading}}
          <p><img class="main-loader rotate coinbases" width="50" src="{{rootURL}}/assets/img/theta-logo.png"/></p>
        {{/if}}
        <hr/>
        <div class="{{if this.args.loading 'visibility-hidden'}}">
          <div class="trends-percent-conatiner">
            <div class="trend-activity trends-percent border-separation">
              <p class="description">{{t 'global.last.24h'}}</p>
              <p class="title"><span class="nostyle" {{numberformat coinbasesLastDayTfuelAmount 2}}></span> <img
                src="{{rootURL}}/assets/img/logo/tfuel.png" class="img-fluid rounded-circle" style="width: 20px;"></p>
              <span class="trend-usd-change coinbases">({{currency.currentCurrency.symbol}}<span
                class="nostyle" {{numberformat coinbasesLastDayUsdValue 2}}></span>
                   | {{coinbasesLastDayCount}}
                {{#if coinbasesLastDay.length}}{{t 'coinbase_history.rewards_received'}}{{else}}{{t
                  'coinbase_history.reward_received'}}{{/if}})</span>
            </div>
            <div class="trend-activity trends-percent">
              <p class="description">{{t 'global.last.7d'}}</p>
              <p class="title"><span class="nostyle" {{numberformat coinbasesLastWeekTfuelAmount 2}}></span> <img
                src="{{rootURL}}/assets/img/logo/tfuel.png" class="img-fluid rounded-circle" style="width: 20px;"></p>
              <span class="trend-usd-change coinbases">({{currency.currentCurrency.symbol}}<span
                class="nostyle" {{numberformat coinbasesLastWeekUsdValue 2}}></span>
                   | {{coinbasesLastWeekCount}}
                {{#if coinbasesLastWeek.length}}{{t 'coinbase_history.rewards_received'}}{{else}}{{t
                  'coinbase_history.reward_received'}}{{/if}})</span>
            </div>
          </div>
          <hr/>
          <div class="trends-percent-conatiner">
            <div class="trend-activity trends-percent border-separation">
              <p class="description">{{t 'global.last.m'}}</p>
              <p class="title"><span class="nostyle" {{numberformat coinbasesLastMonthTfuelAmount 2}}></span> <img
                src="{{rootURL}}/assets/img/logo/tfuel.png" class="img-fluid rounded-circle" style="width: 20px;"></p>
              <span class="trend-usd-change coinbases">({{currency.currentCurrency.symbol}}<span
                class="nostyle" {{numberformat coinbasesLastMonthUsdValue 2}}></span>
                   | {{coinbasesLastMonthCount}}
                {{#if coinbasesLastMonth.length}}{{t 'coinbase_history.rewards_received'}}{{else}}{{t
                  'coinbase_history.reward_received'}}{{/if}})</span>
            </div>
            <div class="trend-activity trends-percent">
              <p class="description">{{t 'global.last.6m'}}</p>
              <p class="title"><span class="nostyle" {{numberformat coinbasesLastSixMonthsTfuelAmount 2}}></span> <img
                src="{{rootURL}}/assets/img/logo/tfuel.png" class="img-fluid rounded-circle" style="width: 20px;"></p>
              <span class="trend-usd-change coinbases">({{currency.currentCurrency.symbol}}<span
                class="nostyle" {{numberformat coinbasesLastSixMonthsUsdValue 2}}></span>
                   | {{coinbasesLastSixMonthsCount}}
                {{#if coinbasesLastSixMonths.length}}{{t 'coinbase_history.rewards_received'}}{{else}}{{t
                  'coinbase_history.reward_received'}}{{/if}})</span>
            </div>
          </div>
        </div>
      {{else}}
          <p class="wallet-placeholder">{{t 'global.please'}} <LinkTo @route="my-wallets">{{t 'global.link_wallet'}}</LinkTo> {{t 'global.or'}} <a href="" data-toggle="modal" data-target="#searchModal">{{t 'global.enter_address'}}</a>.</p>
        {{/if}}
      </div>
  </div>
</div>