{{page-title "Email verification"}}

<div class="row">
    <div class="col-md-6" style="margin: 80px auto;">
        {{navbar/i18n-selection}}
        <br/>
        <div class="card card-user">
            <div class="card-body card-min-390">
                <p class="card-text"></p>
                <div class="author">
                <div class="block block-one"></div>
                <div class="block block-two"></div>
                <div class="block block-three"></div>
                <div class="block block-four"></div>
                <br/><br/><br/><br/>
                <LinkTo @route='dashboard' @class="">
                    <img class="" src="{{rootURL}}/assets/img/thetaboard-logo-icon.png" alt="..."/>
                </LinkTo>
                </div>
                <div class="card-body-stake">
                    {{#if @model.data.id}}
                        <h3 class="title">{{t 'global.welcome'}}</h3>
                        <div class="row justify-content-lg-center justify-content-md-center">
                            <form class="stakes-deposit col-md-9">
                                <div class="form-group">
                                    <label>{{t 'verify.email_verified'}}</label>
                                    <br/><br/>
                                    {{#if isUserAuthenticated}}
                                        <a href="/" class="btn btn-primary">{{t 'global.go_dash'}}</a>
                                    {{else}}
                                        <p>{{t 'verify.can_login'}}</p>
                                        <br/>
                                        <a href="/login" class="btn btn-primary">{{t 'global.login'}}</a>
                                    {{/if}}
                                    <br/><br/><br/>
                                </div>
                            </form>
                        </div>
                    {{else if @model.data.error}}
                        <h3 class="title">Thetaboard</h3>
                        <div class="row justify-content-lg-center justify-content-md-center">
                            <form class="stakes-deposit col-md-9">
                                <div class="form-group">
                                    <label>{{t 'verify.link_invalid'}}</label>
                                    <br/><br/>
                                    <p>{{t 'verify.click_banner'}}</p>
                                    <br/>
                                    <LinkTo @route="login" @class="btn btn-primary">{{t 'global.login'}}</LinkTo>
                                    <br/><br/>
                                </div>
                            </form>
                        </div>
                    {{/if}}
                </div>
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>
