{{page-title "NFT Info"}}

<div class="card card-user" id="card-nft">
  <div class="card-body card-min-390">
    <p class="card-text"></p>
    <div class="author" style="text-align: left;">
      <div class="block block-one"></div>
      <div class="block block-two"></div>
      <div class="block block-three"></div>
      <div class="block block-four"></div>
      <LinkTo @route="wallet.nft" @class="nft-back-to-wallet"><img width="50" src="/assets/img/back-medium.png"/></LinkTo>
    </div>
    <div class="card-body-stake">
      <h5 class="title">{{nft.name}}</h5>
      <br/>
      <div class="nft-main-image-container">
        {{#if nft.isFirstAssetVideo}}
          <video class="nft-main-video" id="vid" loop autoplay playsinline>
            <source src="{{nft.firstAsset}}" type="video/mp4">
          </video>
        {{else}}
          <img class="nft-main-image" src="{{nft.image}}" alt="{{nft.name}}"/>
        {{/if}}
      </div>
      <br/>
      <p class="description">{{nft.description}}</p>
      {{#if nft.attributes.length}}
        <br/>
        <h3 style="margin-bottom: 0px;">{{t 'drop.attributes'}}:</h3>
        <br/>
        {{#each nft.attributes as |attribute|}}
          {{nft-info/nft-attribute-tile attribute=attribute}}
        {{/each}}
        <br/>
      {{/if}}
      {{#if nft.properties.assets.length}}
        <br/>
        <h3>{{t 'drop.additional_assets'}}:</h3>
        {{#each nft.properties.assets as |nftAsset|}}
          {{nft-info/nft-asset-tile nftAsset=nftAsset}}
        {{/each}}
      {{/if}}
      {{#if nft.properties.artist}}
        <br/>
        {{marketplace/artist-tile artist=nft.properties.artist}}
        <br/>
      {{/if}}
      {{#if isTNS}}
        {{domains/nft-info/tns nft=nft}}
      {{/if}}
    </div>
  </div>
  <div class="card-footer">
  </div>
</div>