<li class="dropdown nav-item paddingtop">
    <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
        <div class="d-none d-lg-block d-xl-block"><span class="language-selector">{{i18n.currentLocale.name}}/USD</span></div>
        <p class="d-lg-none language-small-button">
            {{i18n.currentLocale.shortName}}/USD
        </p>
    </a>
    <div class="dropdown-menu dropdown-menu-left dropdown-navbar">
        <p class="title">{{t "locale.language"}}:</p>
        {{#each this.i18n.localeList as |locale|}}
            <p {{on 'click' (fn this.setLocale locale.value)}} class="nav-link"><a href="#" class="nav-item dropdown-item">{{locale.name}}</a></p>
        {{/each}}
    </div>
</li>