{{page-title "Secondary"}}
<div class="card card-user">
  <div class="author" style="margin-top:0;">
    <div class="block block-one"></div>
    <div class="block block-two"></div>
    <div class="block block-three"></div>
    <div class="block block-four"></div>
  </div>
  <div class="body-title-marketplace">
    <h3 class="card-title">Marketplace - Exchange</h3>
    <p><small> {{t 'marketplace.commision'}}</small></p>

    <LinkTo @route="wallet.nft" class="btn btn-primary">
      {{t 'NFT.sell_my_nft'}}
    </LinkTo>
  </div>
</div>

<div class="card card-user">
  <div class="facet-container-marketplace">
    <div class="search-input-container-marketplace">
      <Input
        @placeholder="Search"
        @type="text"
        @class="input-search-marketplace"
        @value={{search}}
        {{on "keyup" this.searchMarketplace}}
      />
    </div>
    <PowerSelectMultiple
      @searchEnabled={{true}}
      @searchField="name"
      @options={{this.artists}}
      @selected={{this.selectedArtists}}
      @placeholder="Select artists"
      @onChange={{this.changeArtist}} as |artist|>
      {{artist.name}}
    </PowerSelectMultiple>

    <PowerSelectMultiple
      @searchEnabled={{true}}
      @searchField="name"
      @options={{this.drops}}
      @selected={{this.selectedDrops}}
      @placeholder="Select drops"
      @onChange={{this.changeDrop}} as |drop|>
      {{drop.name}}
    </PowerSelectMultiple>

    <PowerSelectMultiple
      @searchEnabled={{true}}
      @options={{this.priceRanges}}
      @selected={{this.selectedPriceRanges}}
      @placeholder="Select prices"
      @onChange={{this.changePriceRange}} as |priceRange|>
      {{priceRange}}
    </PowerSelectMultiple>

    <PowerSelectMultiple
      @searchEnabled={{true}}
      @options={{this.categories}}
      @selected={{this.selectedCategories}}
      @placeholder="Select category"
      @onChange={{this.changeCategory}} as |category|>
      {{category.name}}
    </PowerSelectMultiple>

    <PowerSelect
      @options={{this.sortBy}}
      @searchField="name"
      @placeholder="Sort by"
      @selected={{this.selectedSortBy}}
      @onChange={{this.changeSortBy}} as |sortBy|>
      {{sortBy.name}}
    </PowerSelect>
  </div>
</div>

<div class="tile-container-market">
  {{#each sellingNFTs as |NFT|}}
    {{marketplace/secondary/nft nft=NFT}}
  {{/each}}
</div>

{{#if showPagination}}
  <PaginationPager
    @pager={{true}}
    @count={{totalPageNumber}}
    @current={{currentPageNumber}}
    @change={{this.pageChanged}}
    @pagerFirst="|<"
    @pagerLast=">|"
    @pagerNext={{t 'global.next'}}
    @pagerPrevious={{t 'global.previous'}}>
    {{currentPageNumber}} of {{totalPageNumber}}
  </PaginationPager>
{{/if}}