{{page-title "Creators  Drops"}}

<div class="content">
  <div class="row">
    <h2> Work in progress/Upcoming drops</h2>
    {{#each upcomingDrops as |drop|}}
      {{creators/drops/drop drop=drop artists=model.artists}}
    {{/each}}

    <button {{on "click" this.addNewDrop}} class="btn btn-fill btn-primary">Add new Drop</button>
    <br>

  </div>
  <div class="row">
    <h2> Live Drops </h2>
    {{#each liveDrops as |drop|}}
      {{creators/drops/drop drop=drop artists=model.artists}}
    {{/each}}
  </div>
  <div class="row">
    <h2> Past Drops</h2>
    {{#each pastDrops as |drop|}}
      {{creators/drops/drop drop=drop artists=model.artists}}
    {{/each}}
  </div>
</div>


