{{page-title "Staking Tfuel"}}

<div class="card card-user">
  <div class="card-body card-min-390">
    <p class="card-text"></p>
    <div class="author">
      <div class="block block-one"></div>
      <div class="block block-two"></div>
      <div class="block block-three"></div>
      <div class="block block-four"></div>
      <img class="avatar" src="{{rootURL}}/assets/img/logo/tfuel.png" alt="...">
    </div>
    <div class="card-body-stake">
      <h5 class="title">{{t 'staking.tfuel.title'}}
        {{#if this.thetaSdk.tfuelAPR}}<br>{{t 'staking.earn_up_to'}} <span class="nostyle" {{numberformat this.thetaSdk.tfuelAPR 1}}></span>% {{t 'global.apr'}}*.{{/if}}
      </h5>
      <div class="row justify-content-lg-center justify-content-md-center">
        <form class="col-md-9">
          <label>{{t 'staking.tfuel.subtitle'}}</label>
          <p>{{t 'staking.tfuel_fees'}}</p>
          <br/>
          <p> {{t 'staking.tfuel.follow'}} <a href="/faq"> {{t 'staking.tfuel.using_summary'}} </a></p>
          <p>{{t 'staking.tfuel.stake_on'}}
            <LinkTo @route="staking.tfuelvip">{{t 'global.vip_een'}}</LinkTo>
          </p>
          <br/>
          {{#each edgeNodeListSorted as |edgeNode|}}
            {{#if edgeNode.affiliateId}}
            {{else}}
              <p class="summary-value">{{t 'global.staked'}}: {{edgeNode.stakeAmountK}}K / {{t 'global.available'}}: {{edgeNode.availableStakeK}}K</p>
              <div style="{{edgeNode.percentFillSafe}}" class="edge-node-top-border"></div>
              <div data-toggle="modal" data-target="#EdgeSummaryModal" {{on 'click' (fn this.setupModalSummary edgeNode.summary)}} style="cursor: pointer;" class="card-description-summary">
                <p class="summary-value">{{edgeNode.summary}}</p>
              </div>
              <br/>
            {{/if}}
          {{/each}}
        </form>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <sub>*{{t 'global.apr_not_guarentee'}}.</sub>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="EdgeSummaryModal" tabindex="-1" role="dialog" aria-labelledby="EdgeSummaryModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="EdgeSummaryModalLabel">{{t 'global.en_summary'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="tim-icons icon-simple-remove"></i>
        </button>
      </div>
      <div class="modal-body">
        <img {{on "click" (fn this.copySummaryToClipBoard 'Edge Node Summary' 'input-to-copy-from-tfuel')}} src="https://chart.googleapis.com/chart?chs=500x500&cht=qr&chl={{modalSummary}}&choe=UTF-8"/>
        <input id="input-to-copy-from-tfuel" class="input-to-hide" value="{{modalSummary}}"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{t 'global.close'}}</button>
        <button type="button" class="btn btn-primary" {{on "click" (fn this.copySummaryToClipBoard 'Edge Node Summary' 'input-to-copy-from-tfuel')}}>{{t 'global.copy_summary'}}</button>
      </div>
    </div>
  </div>
</div>