{{page-title "Dashboard"}}
<div class="row">
  <div class="col-md-6">
    {{charts/price-chart}}
  </div>
  <div class="col-md-3">
    {{trend/theta}}
  </div>
  <div class="col-md-3">
    {{trend/tfuel}}
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    {{charts/earnings-forecast}}
  </div>
  <div class="col-md-6">
    {{charts/earnings-forecast-tfuel}}
  </div>
</div>

