{{page-title "FAQ"}}

<div class="content" id="faq-page">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card card-user">
        <div class="card-body">
          <p class="card-text">
          </p>
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="javascript:void(0)">
              <h3 class="title">{{t 'faq.title'}}</h3>
            </a>
            <p class="description">
              {{t 'faq.subtitle'}}
            </p>
          </div>
          <p></p>
          <div class="card-description">
            <p>
               {{t 'faq.description' htmlSafe=true}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card card-user">
        <div class="card-body">
          <p class="card-text">
          </p>
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <p class="description">
              {{t 'faq.quick_links'}}
            </p>
          </div>
          <p></p>
          <div class="card-description">
            <div class="row">
              <div style="text-align: center;" class="col-lg-4 col-md-4">
                  <a style="text-align: center;" href="{{t 'faq.how_to_stake_tfuel_link'}}" target="_blank">{{t 'faq.how_to_stake_tfuel'}}
                    <br/><img style="margin: 10px 0 40px;" src="{{rootURL}}/assets/pdf/pdf.png"/></a>
              </div>
              <div style="text-align: center;" class="col-lg-4 col-md-4">
                  <a style="text-align: center;" href="{{t 'faq.how_to_stake_theta_link'}}" target="_blank">{{t 'faq.how_to_stake_theta'}}
                    <br/><img style="margin: 10px 0 40px;" src="{{rootURL}}/assets/pdf/pdf.png"/></a>
              </div>
              <div style="text-align: center;" class="col-lg-4 col-md-4">
                  <a style="text-align: center;" href="{{t 'faq.how_to_withdraw_link'}}" target="_blank">{{t 'faq.how_to_withdraw'}}
                    <br/><img style="margin: 10px 0 40px;" src="{{rootURL}}/assets/pdf/pdf.png"/></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card card-user">
        <div class="card-body">
          <p class="card-text">
          </p>
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
          </div>
          <p></p>
          <div class="card-description faq-card-desc">
            {{#accordion-list as |accordion|}}
              {{#accordion.item as |accordionItem|}}
                
                
                {{#accordionItem.toggle panelName="staking" as |isActive|}}
                 <h3 id="staking" class="faq-title"><img src="{{rootURL}}/assets/img/arrow-white.png"/> {{t 'faq.what_staking'}}</h3>
                {{/accordionItem.toggle}}
                {{#accordionItem.panel panelName="staking"}}
                  {{t 'faq.what_staking_body' htmlSafe=true}}
                {{/accordionItem.panel}}
                
                
                {{#accordionItem.toggle panelName="staking-thetaboard" as |isActive|}}
                 <h3 id="staking-thetaboard" class="faq-title"><img src="{{rootURL}}/assets/img/arrow-white.png"/> {{t 'faq.provide'}}</h3>
                {{/accordionItem.toggle}}
                {{#accordionItem.panel panelName="staking-thetaboard"}}
                  {{t 'faq.provide_body' htmlSafe=true}}
                {{/accordionItem.panel}}


                {{#accordionItem.toggle panelName="deposit" as |isActive|}}
                 <h3 id="deposit" class="faq-title"><img src="{{rootURL}}/assets/img/arrow-white.png"/> {{t 'faq.deposit'}}</h3>
                {{/accordionItem.toggle}}
                {{#accordionItem.panel panelName="deposit"}}
                  {{t 'faq.deposit_body' htmlSafe=true}}
                {{/accordionItem.panel}}



                {{#accordionItem.toggle panelName="stake-exchange" as |isActive|}}
                 <h3 id="stake-exchange" class="faq-title"><img src="{{rootURL}}/assets/img/arrow-white.png"/> {{t 'faq.stake'}}</h3>
                {{/accordionItem.toggle}}
                {{#accordionItem.panel panelName="stake-exchange"}}
                  {{t 'faq.stake_body' htmlSafe=true}}
                {{/accordionItem.panel}}


                {{#accordionItem.toggle panelName="nodes" as |isActive|}}
                 <h3 id="nodes" class="faq-title"><img src="{{rootURL}}/assets/img/arrow-white.png"/> {{t 'faq.where_nodes'}}</h3>
                {{/accordionItem.toggle}}
                {{#accordionItem.panel panelName="nodes"}}
                  {{t 'faq.where_nodes_body' htmlSafe=true}}
                {{/accordionItem.panel}}


                {{#accordionItem.toggle panelName="fees" as |isActive|}}
                 <h3 id="fees" class="faq-title"><img src="{{rootURL}}/assets/img/arrow-white.png"/> {{t 'faq.fees'}}</h3>
                {{/accordionItem.toggle}}
                {{#accordionItem.panel panelName="fees"}}
                  {{t 'faq.fees_body' htmlSafe=true}}
                {{/accordionItem.panel}}


                {{#accordionItem.toggle panelName="minimum" as |isActive|}}
                 <h3 id="minimum" class="faq-title"><img src="{{rootURL}}/assets/img/arrow-white.png"/> {{t 'faq.minimum'}}</h3>
                {{/accordionItem.toggle}}
                {{#accordionItem.panel panelName="minimum"}}
                  {{t 'faq.minimum_body' htmlSafe=true}}
                {{/accordionItem.panel}}


                {{#accordionItem.toggle panelName="earn" as |isActive|}}
                 <h3 id="earn" class="faq-title"><img src="{{rootURL}}/assets/img/arrow-white.png"/> {{t 'faq.when_earn'}}</h3>
                {{/accordionItem.toggle}}
                {{#accordionItem.panel panelName="earn"}}
                  {{t 'faq.when_earn_body' htmlSafe=true}}
                {{/accordionItem.panel}}


                {{#accordionItem.toggle panelName="how-much" as |isActive|}}
                 <h3 id="how-much" class="faq-title"><img src="{{rootURL}}/assets/img/arrow-white.png"/> {{t 'faq.how_much_earn'}}</h3>
                {{/accordionItem.toggle}}
                {{#accordionItem.panel panelName="how-much"}}
                  {{t 'faq.how_much_earn_body' htmlSafe=true}}
                {{/accordionItem.panel}}


                {{#accordionItem.toggle panelName="public-or-private" as |isActive|}}
                 <h3 id="public-or-private" class="faq-title"><img src="{{rootURL}}/assets/img/arrow-white.png"/> {{t 'faq.public_private'}}</h3>
                {{/accordionItem.toggle}}
                {{#accordionItem.panel panelName="public-or-private"}}
                  {{t 'faq.public_private_body' htmlSafe=true}}
                {{/accordionItem.panel}}


                {{#accordionItem.toggle panelName="where-rewards" as |isActive|}}
                 <h3 id="where-rewards" class="faq-title"><img src="{{rootURL}}/assets/img/arrow-white.png"/> {{t 'faq.where_rewards_from'}}</h3>
                {{/accordionItem.toggle}}
                {{#accordionItem.panel panelName="where-rewards"}}
                  {{t 'faq.where_rewards_from_body' htmlSafe=true}}
                {{/accordionItem.panel}}


                {{#accordionItem.toggle panelName="staking-in-wallet" as |isActive|}}
                 <h3 id="staking-in-wallet" class="faq-title"><img src="{{rootURL}}/assets/img/arrow-white.png"/> {{t 'faq.staking_wallet'}}</h3>
                {{/accordionItem.toggle}}
                {{#accordionItem.panel panelName="staking-in-wallet"}}
                  {{t 'faq.staking_wallet_body' htmlSafe=true}}
                {{/accordionItem.panel}}


                {{#accordionItem.toggle panelName="no-rewards" as |isActive|}}
                 <h3 id="no-rewards" class="faq-title"><img src="{{rootURL}}/assets/img/arrow-white.png"/> {{t 'faq.no_rewards'}}</h3>
                {{/accordionItem.toggle}}
                {{#accordionItem.panel panelName="no-rewards"}}
                  {{t 'faq.no_rewards_body' htmlSafe=true}}
                {{/accordionItem.panel}}


                {{#accordionItem.toggle panelName="add-token" as |isActive|}}
                 <h3 id="add-token" class="faq-title"><img src="{{rootURL}}/assets/img/arrow-white.png"/> {{t 'faq.withdraw_add_more'}}</h3>
                {{/accordionItem.toggle}}
                {{#accordionItem.panel panelName="add-token"}}
                  {{t 'faq.withdraw_add_more_body' htmlSafe=true}}
                {{/accordionItem.panel}}


                {{#accordionItem.toggle panelName="withdraw" as |isActive|}}
                 <h3 id="withdraw" class="faq-title"><img src="{{rootURL}}/assets/img/arrow-white.png"/> {{t 'faq.how_withdraw'}}</h3>
                {{/accordionItem.toggle}}
                {{#accordionItem.panel panelName="withdraw"}}
                  {{t 'faq.how_withdraw_body' htmlSafe=true}}
                {{/accordionItem.panel}}


                {{#accordionItem.toggle panelName="withdrawn" as |isActive|}}
                 <h3 id="withdrawn" class="faq-title"><img src="{{rootURL}}/assets/img/arrow-white.png"/> {{t 'faq.where_coin'}}</h3>
                {{/accordionItem.toggle}}
                {{#accordionItem.panel panelName="withdrawn"}}
                  {{t 'faq.where_coin_body' htmlSafe=true}}
                {{/accordionItem.panel}}


                {{#accordionItem.toggle panelName="unstaking-rewards" as |isActive|}}
                 <h3 id="unstaking-rewards" class="faq-title"><img src="{{rootURL}}/assets/img/arrow-white.png"/> {{t 'faq.rewards_withdraw'}}</h3>
                {{/accordionItem.toggle}}
                {{#accordionItem.panel panelName="unstaking-rewards"}}
                  {{t 'faq.rewards_withdraw_body' htmlSafe=true}}
                {{/accordionItem.panel}}


                {{#accordionItem.toggle panelName="unstaking-rewards-paid" as |isActive|}}
                 <h3 id="unstaking-rewards-paid" class="faq-title"><img src="{{rootURL}}/assets/img/arrow-white.png"/> {{t 'faq.rewards_paid'}}</h3>
                {{/accordionItem.toggle}}
                {{#accordionItem.panel panelName="unstaking-rewards-paid"}}
                  {{t 'faq.rewards_paid_body' htmlSafe=true}}
                {{/accordionItem.panel}}      


                {{#accordionItem.toggle panelName="en-wallet-address" as |isActive|}}
                 <h3 id="en-wallet-address" class="faq-title"><img src="{{rootURL}}/assets/img/arrow-white.png"/> {{t 'faq.new_address'}}</h3>
                {{/accordionItem.toggle}}
                {{#accordionItem.panel panelName="en-wallet-address"}}
                  {{t 'faq.new_address_body' htmlSafe=true}}
                {{/accordionItem.panel}}                

              {{/accordion.item}}
            {{/accordion-list}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>