{{page-title "Drop"}}

<div class="card card-user" id="card-drop">
  <div class="card-body card-min-390">
    <p class="card-text"></p>
    <div class="author">
      <div class="block block-one"></div>
      <div class="block block-two"></div>
      <div class="block block-three"></div>
      <div class="block block-four"></div>
    </div>
    <div class="card-body-stake">
      <h5 class="title">{{drop.name}}</h5>
      <div class="justify-content-lg-center justify-content-md-center">
        {{#if drop.isDropLive}}
          <div class="drop-status live"><span class="dot"></span>{{t 'drop.is_live'}}</div>
          <p class="date-label">{{t 'drop.ending_on'}} {{moment-format drop.endDate 'll'}}</p>
        {{else if drop.isDropEnded}}
          <div class="drop-status over">{{t 'drop.over'}}</div>
          <p class="date-label">{{t 'drop.ended_on'}} {{moment-format drop.endDate 'll'}}</p>
        {{else if drop.isStartingInLessThan24Hours}}
          <div class="drop-status in-few-hours">{{moment-from drop.startDate}}</div>
          <p class="date-label">{{t 'drop.starting_on'}} {{moment-format drop.startDate 'll, LT'}}</p>
        {{else}}
          <div class="drop-status coming">{{t 'drop.coming_soon'}}</div>
          <p class="date-label">{{t 'drop.starting_on'}} {{moment-format drop.startDate 'll, LT'}}</p>
        {{/if}}
      </div>
      <p class="description">{{drop.description}}</p>
      {{#each drop.nfts as |nft|}}
        {{marketplace/nft-tile nft=nft drop=drop}}
      {{/each}}
      <br/>
      <div class="artist-container">
        <h1 style="margin-bottom: 25px;">{{t 'drop.artist'}}:</h1>
        <img src="{{drop.artist.image}}" width="60px" height="60px" alt="{{drop.artist.name}}"/>
        <h3 class="drop-artist">{{drop.artist.name}}</h3>
        <p class="drop-artist-bio">{{drop.artist.bio}}</p>
      </div>
    </div>
  </div>
  <div class="card-footer">
  </div>
</div>