{{page-title "Drop"}}

<div class="card card-user" id="card-drop">
  <div class="card-body card-min-390">
    <p class="card-text"></p>
    <div class="author">
      <div class="block block-one"></div>
      <div class="block block-two"></div>
      <div class="block block-three"></div>
      <div class="block block-four"></div>
    </div>
    <div class="card-body-stake">
      <h5 class="title">{{drop.name}}</h5>
      {{marketplace/drop-status drop=drop}}
      <p class="description" style="text-align: left; white-space: pre-line">{{drop.description}}</p>
      {{#each nfts as |nft|}}
        {{marketplace/nft-tile nft=nft drop=drop}}
      {{/each}}
      <br/>
      {{marketplace/artist-tile artist=drop.artist}}
    </div>
  </div>
  <div class="card-footer">
  </div>
</div>